<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/Coding%20week%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=['red','orange','green','blue','white']
list2=['black','yellow','green','blue']
set1=set(list1)
set2=set(list2)
set1-set2

{'orange', 'red', 'white'}

In [ ]:
list1=eval(input())
list2=eval(input())
set1=set(list1)
set2=set(list2)
x=list(set1-set2)
y=list(set2-set1)
x.sort()
y.sort()
print('L1-L2=',x)
print('L2-L1=',y)

['red','orange','green','blue','white']
['black','yellow','green','blue']
L1-L2= ['orange', 'red', 'white']
L2-L1= ['black', 'yellow']

In [ ]:
rownumbs = int(input())
colnumbs = int(input())
for i in range(rownumbs):
  b=[]
  for j in range(colnumbs):
    if j%2==0:
      print('1.',end='')
    else:
      print('0.',end='')
  print('')

4
3
1.0.1.
1.0.1.
1.0.1.
1.0.1.

In [ ]:
rows= 5
colms= 5
for i in range(rows):
  for j in range(colms):
    if i==0 or i==rows-1:
      print('0.',end='')
    else:
      if j==0 or j==colms-1:
        print('0.',end='')
      else:
        print('  ',end='')
  print()

0.0.0.0.0.
0.      0.
0.      0.
0.      0.
0.0.0.0.0.

In [ ]:
string=input()
st=''
for i in range(len(string)-1):
  if string[i+1]==string[i]:
    st=st+string[i]
    st=st+'*'
  else:
    st=st+string[i]
print(st)

Deepakk
De*epak*

In [ ]:
lst= [10, 20, 30, 40, 50, 60]
index= [4, 3, 5, 0, 1, 2]

In [ ]:
new_list=[]
for i in index:
  new_list.append(lst[i])

In [ ]:
new_list

[50, 40, 60, 10, 20, 30]

In [ ]:
temp = [0] * len(lst)
temp

[0, 0, 0, 0, 0, 0]

In [ ]:
for i in range(0,len(lst)):
  temp[index[i]] = arr[i]
temp

[40, 50, 60, 20, 10, 30]

In [ ]:
def reorder(arr,index, n):
 
    temp = [0] * n;
 
    # arr[i] should be
        # present at index[i] index
    for i in range(0,n):
        temp[index[i]] = arr[i]
 
    # Copy temp[] to arr[]
    for i in range(0,n):
        arr[i] = temp[i]
        index[i] = i
     
# Driver program
arr = [10, 20, 30, 40, 50, 60]
index = [4, 3, 5, 0, 1, 2]
n = len(arr)
 
reorder(arr, index, n)
 
print("Reordered array is:")
for i in range(0,n):
    print(arr[i],end = " ")
 
print("\nModified Index array is:")
for i in range(0,n):
    print(index[i],end = " ")

Reordered array is:
40 50 60 20 10 30
Modified Index array is:
0 1 2 3 4 5

In [ ]:
lst= eval(input())
index= eval(input())
new_list=[]
temp=[0]*len(lst)
for i in range(0,len(lst)):
  temp[index[i]] = lst[i]
print('The given list after reordering according to the given indexes list :')
print(temp)
print('The Index list after reordering:')
print(list(range(len(lst))))

[10, 20, 30, 40, 50, 60]
[4, 3, 5, 0, 1, 2]
The given list after reordering according to the given indexes list :
[40, 50, 60, 20, 10, 30]
The Index list after reordering:
[0, 1, 2, 3, 4, 5]

In [ ]:
num_of_elements = int(input())
b=[]
for i in range(num_of_elements):
  a=int(input(f'Enter the element between 0 and {num_of_elements}'))
  b.append(a)

5
Enter the element between 0 and 54
Enter the element between 0 and 54
Enter the element between 0 and 54
Enter the element between 0 and 54
Enter the element between 0 and 54

In [ ]:
b

[4, 4, 4, 4, 4]

In [ ]:
num_of_elements = int(input())
b=[]
for i in range(num_of_elements):
  a=int(input(f'Enter the element between 0 and {num_of_elements}:'))
  b.append(a)

for i in b:
  if b.count(i)>1:
    x=b.count(i)
    z=i
print(f'{z} is repeated {x} times')

5
Enter the element between 0 and 5:4
Enter the element between 0 and 5:4
Enter the element between 0 and 5:4
Enter the element between 0 and 5:3
Enter the element between 0 and 5:4
4 is repeated 4 times

In [ ]:
num_elem = int(input())
b=[]
for i in range(num_elem):
  a=int(input())
  b.append(a)
b=list(set(b))
print('Array elements after removing duplicates')
for i in b:
  print(i)

5
4
3
2
7
8
Array elements after removing duplicates
2
3
4
7
8

In [ ]:
strs =  eval(input())
prefix = input()
b=[]

for i in strs:
  if i[:2]==prefix:
    b.append(i)
print(b)

['cat', 'car', 'fear', 'center']
ca
['cat', 'car']

In [ ]:
n = eval(input())

if n[0]>n[1]:
  print('Decreasing')
elif n[0]<n[1]:
  print('Increasing')
else:
  print('Not a monotonic sequence')

[5,4,3,2,1]
Decreasing

In [ ]:
n =input()
b=[]
for i in range(0,len(n)-1):
  if n[i]==n[i+1]:
    b.extend([i,i+1])
  else:
    pass
if b:
  print(b)
else:
  print(None)

deeepak
[1, 2, 2, 3]

In [ ]:
a = int(input())
b = int(input())
def test(a,b):
    r = range(a, b)
    if len(r) == 0:
        return "-1"
    return bin(round(sum(r) / len(r)))
print(test(a,b))

5
9
0b110

In [3]:
n = 3
a='1'
b='1'
for i in range(n-1):
  a=a+'0'
for i in range(n):
  b=b+'0'
c=[]
for i in range(int(a),int(b)):
  i=str(i)
  if i[0]=='2' or i[len(i)-1]=='2':
    c.append(int(i))
  else:
    pass
print(c)

[102, 112, 122, 132, 142, 152, 162, 172, 182, 192, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 302, 312, 322, 332, 342, 352, 362, 372, 382, 392, 402, 412, 422, 432, 442, 452, 462, 472, 482, 492, 502, 512, 522, 532, 542, 552, 562, 572, 582, 592, 602, 612, 622, 632, 642, 652, 662, 672, 682, 692, 702, 712, 722, 732, 742, 752, 762, 772, 782, 792, 802, 812, 822, 832, 842, 852, 862, 872, 882, 892, 902, 912, 922, 932, 942, 952, 962, 972, 982, 992]

In [8]:
lst=eval(input())
n = int(input())
i=1
while i<len(lst):
  lst.insert(i,n)
  i=i+2
  print(len(lst))
  print(i)
  
print(lst)

[12, -7, 3, -89, 14, 88, -78, -1, 2, 7]
6
11
3
12
5
13
7
14
9
15
11
16
13
17
15
18
17
19
19
[12, 6, -7, 6, 3, 6, -89, 6, 14, 6, 88, 6, -78, 6, -1, 6, 2, 6, 7]

In [12]:
n = input()
I=['a','e','i','o','u','A','E','I','O','U'] 
for i in range(1,len(n)-1):
  if n[i-1] not in I and n[i] in I and n[i+1] not in I:
    print(n[i-1:i+2])
  else:
    pass

Python
hon

In [48]:
n = eval(input())
a=[sorted([i,j,k]) for i in n for j in n for k in n if i+j+k==0 and i!=j and i!=k ]
c=[]
index=[]
for i in a:
  if a.count(i)>1 and i not in c:
    c.append(i)
  else:
    pass
print(c)
x=0
for num1 in range(len(c)):
  index.append([])
  print(index)
  for num2 in range(3):
    index[num1].append(n.index(c[num1][num2]))
    x=x+1
print(index)

[2,-1,-1,-1]
[[-1, -1, 2]]
[[]]
[[1, 1, 0]]

In [24]:
n = eval(input())
a=[]
for i in n:
  n.remove(i)
  for j in n:
    n.remove(j)
    for k in n :
      if i+j+k==0:
        a.append(sorted([i,j,k]))
print(sorted(a))

[-1,-2,-3,6,5]
[]