<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/Copy_of_Assignment_Numpy_%26_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Python Numpy Assignment**

In [2]:
import numpy as np

**Q1) Write a python program to count the frequency of unique values in NumPy array.**

In [ ]:
ini_array = np.array([10, 20, 5, 10, 8, 20, 8, 9])              
  
# Get a tuple of unique values 
# and their frequency in
# numpy array
x,y=np.unique(ini_array,return_counts=True)

# print unique values array
print(x)
  
# print frequency array
print(y)

[ 5  8  9 10 20]
[1 2 1 2 2]

**Q2) Write a program to add a border of zeros around the existing array.**

For example,
If you have the below array:

[[ 1.  1.  1.  1.]                                                          
 [ 1.  1.  1.  1.]                                                          
 [ 1.  1.  1.  1.]] 

 The resultant array should be: (zeros on the border and 1s within it)

 [[ 0.  0.  0.  0.  0.  0.]                                                  
 [ 0.  1.  1.  1.  1.  0.]                                                  
 [ 0.  1.  1.  1.  1.  0.]                                                  
 [ 0.  1.  1.  1.  1.  0.]                                                  
 [ 0.  0.  0.  0.  0.  0.]]

In [ ]:
a.shape[1]

4

In [ ]:

# Create NumPy arrays filled with ones
ones_arr = np.ones((4,4))

print("Transformed array:")
transformed_array = np.pad(ones_arr, pad_width=1, mode='constant', constant_values=0)
print(transformed_array)

Transformed array:
[[0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [ ]:
# Create NumPy arrays filled with ones
a=np.array([[ 1.,1.,1.,1.],[ 1.,1.,1.,1.],[1.,1.,1.,1.]] )
a=np.insert(a,0,0,axis=1)
a=np.insert(a,a.shape[1],0,axis=1)
a=a=np.insert(a,0,0,axis=0)
a=np.insert(a,a.shape[0],0,axis=0)
a

array([[0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0.]])

**Q3) Write a program for creating an integer array with values belonging to the range 10 and 60**

In [ ]:
# Write your code here
np.arange(10,61)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60])

**Q4) Write a program to repeat each of the elements five times for a given array.**

In [ ]:
# Create Sample NumPy Array
arr = np.array(['i', 'love', 'NumPy', 'AND', 'almabetter'], dtype=str)
arr.repeat(5)

array(['i', 'i', 'i', 'i', 'i', 'love', 'love', 'love', 'love', 'love',
       'NumPy', 'NumPy', 'NumPy', 'NumPy', 'NumPy', 'AND', 'AND', 'AND',
       'AND', 'AND', 'almabetter', 'almabetter', 'almabetter',
       'almabetter', 'almabetter'], dtype='<U10')

**Q5) Write a program for inserting space between characters of all elements in a NumPy array.**

In [ ]:
# Create Sample NumPy Array
arr = np.array(['i', 'love', 'NumPy', 'AND', 'almabetter'], dtype=str)
np.char.join(' ', arr)

array(['i', 'l o v e', 'N u m P y', 'A N D', 'a l m a b e t t e r'],
      dtype='<U19')

**Q6) Write a program to transform elements of a given string to a numeric string of 10 digits by making all the elements of a given string to a numeric string of 8 digits with zeros on the left.**

In [ ]:
# Create Sample NumPy array
arr = np.array(['22', '9', '1234', '567', '89102'], dtype=str)

np.char.zfill(arr, 8)

array(['00000022', '00000009', '00001234', '00000567', '00089102'],
      dtype='<U8')

**Q7) Write a program to convert a string element to uppercase, lowercase, capitalise the first letter, title-case and swapcase of a given NumPy array.**

In [ ]:
# Create Sample NumPy array
arr = np.array(['i', 'love', 'NumPy', 'AND', 'almabetter'], dtype=str)
upper=np.char.upper(arr)
print(upper)
lower=np.char.lower(arr)
print(lower)
capitalise=np.char.capitalize(arr)
print(capitalise)
title=np.char.title(arr)
print(title)
swap=np.char.swapcase(arr)
print(swap)

['I' 'LOVE' 'NUMPY' 'AND' 'ALMABETTER']
['i' 'love' 'numpy' 'and' 'almabetter']
['I' 'Love' 'Numpy' 'And' 'Almabetter']
['I' 'Love' 'Numpy' 'And' 'Almabetter']
['I' 'LOVE' 'nUMpY' 'and' 'ALMABETTER']

**Q8) Write a python program to create a numpy array of length 10, starting from 5 and has a step of 3 between consecutive numbers?**

In [ ]:
# Write your code here
x=5
i=0
while i<10:
  x=x+3
  i=i+1
print(x)

np.arange(5,x,3)

35

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32])

**Q9) Write a python program to find the index of 5th repetition of number 1 in x.**

x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])

In [ ]:
# Write your code here
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
np.where(x == 1)[0][4]

8

**Q10) Write a python program to subtract the 1d array b_1d from the 2d array a_2d, such that each item of b_1d subtracts from respective row of a_2d.**

a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])

b_1d = np.array([1,2,3])

In [15]:
# Write your code here
import numpy as np
# Input
a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
b_1d = np.array([1,2,3])
b_1d.reshape(3,1)
a_2d-b_1d[:,None]

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

**Q11) Find all the peaks in a 1D numpy array a. Peaks are points surrounded by smaller values on both sides.**

**Input:**

a = np.array([1, 3, 7, 1, 2, 6, 0, 1])

**Desired Output:**

array([2, 5])

where, 2 and 5 are the positions of peak values 7 and 6.

In [21]:
# Write your code here
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
print(np.diff(a))
print(np.sign(np.diff(a)))
double_succesive_diff = np.diff(np.sign(np.diff(a)))

peaks = np.where(double_succesive_diff == -2)[0] + 1
peaks

[ 2  4 -6  1  4 -6  1]
[ 1  1 -1  1  1 -1  1]

array([2, 5])

**Q12) Compute the euclidean distance between two arrays a and b.**

In [28]:
# Input
a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])
np.sqrt(np.sum((a-b)**2))
# Write your code here
eucledian_dist=np.sqrt(np.sum((a-b)**2))
eucledian_dist

6.708203932499369

**Q13) Compute the min-by-max for each row for given 2d numpy array.**

In [31]:
# Write your code here
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a
# Input
np.apply_along_axis(lambda x: np.min(x)/np.max(x), arr=a, axis=1)

array([0.44444444, 0.125     , 0.5       , 1.        , 0.11111111])

**Q14) From the array a, replace all values greater than 30 to 30 and less than 10 to 10.**

**Input:**

np.random.seed(100)

a = np.random.uniform(1,50, 20)

In [35]:
# Write your code here
np.random.seed(100)
a = np.random.uniform(1,50, 20)
print(a)
a[a>30]=30
a[a<10]=10
a

[27.62684215 14.64009987 21.80136195 42.39403048  1.23122395  6.95688692
 33.86670515 41.466785    7.69862289 29.17957314 44.67477576 11.25090398
 10.08108276  6.31046763 11.76517714 48.95256545 40.77247431  9.42510962
 40.99501269 14.42961361]

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361])

###**Python iris Case Study**

Import the iris dataset keeping the text intact.

In [39]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Print the first 3 rows
iris[:3]

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa']], dtype=object)

**Q15) Extract the text column species from the 1D iris imported in previous question.**

In [41]:
# Input:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)
print(iris_1d.shape)

# Solution:
species = np.array([row[4] for row in iris_1d])
species[:5]

(150,)

<ipython-input-41-829f333da6c1>:3: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

array([b'Iris-setosa', b'Iris-setosa', b'Iris-setosa', b'Iris-setosa',
       b'Iris-setosa'], dtype='|S15')

**Q16) Convert the 1D iris to 2D array iris_2d by omitting the species text field.**

In [4]:
# Input:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)
print(iris_1d[:3])
# Solution:
iris_2d = np.array([row.tolist()[:4] for row in iris_1d])
iris_2d[:4]

[(5.1, 3.5, 1.4, 0.2, b'Iris-setosa') (4.9, 3. , 1.4, 0.2, b'Iris-setosa')
 (4.7, 3.2, 1.3, 0.2, b'Iris-setosa')]

<ipython-input-4-9f991d5fc891>:3: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2]])

**Q17) Find the mean, median, standard deviation of iris's sepallength (1st column)**

In [11]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
print(sepallength[:10])
mean, median, st_dev = np.mean(sepallength), np.median(sepallength), np.std(sepallength)
print('mean:',mean)
print('median:',median)
print('standard deviation:',st_dev)

[5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9]
mean: 5.843333333333334
median: 5.8
standard deviation: 0.8253012917851409

**Q18) Create a normalized form of iris's sepallength whose values range exactly between 0 and 1 so that the minimum has value 0 and maximum has value 1.**

In [12]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
Smax, Smin = sepallength.max(), sepallength.min()
normalized_S = (sepallength - Smin)/(Smax - Smin)
print(normalized_S[:10])

[0.22222222 0.16666667 0.11111111 0.08333333 0.19444444 0.30555556
 0.08333333 0.19444444 0.02777778 0.16666667]

**Q19) Find the 5th and 95th percentile of iris's sepallength**

In [17]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
print('5th percentile:',np.percentile(sepallength,5))
print('95th percentile:',np.percentile(sepallength,95))

5th percentile: 4.6
95th percentile: 7.254999999999998

**Q20) Insert np.nan values at 20 random positions in iris_2d dataset**

In [47]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='object')
print(iris_2d.shape)
np.random.seed(100)
iris_2d[np.random.randint(iris_2d.shape[0], size=20), np.random.randint(iris_2d.shape[1], size=20)] = np.nan
iris_2d

(150, 5)

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa'],
       [b'4.6', b'3.1', b'1.5', b'0.2', b'Iris-setosa'],
       [b'5.0', b'3.6', b'1.4', b'0.2', b'Iris-setosa'],
       [b'5.4', b'3.9', b'1.7', b'0.4', b'Iris-setosa'],
       [b'4.6', b'3.4', b'1.4', b'0.3', b'Iris-setosa'],
       [b'5.0', b'3.4', b'1.5', b'0.2', b'Iris-setosa'],
       [b'4.4', b'2.9', nan, b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.1', b'1.5', b'0.1', b'Iris-setosa'],
       [b'5.4', b'3.7', b'1.5', b'0.2', b'Iris-setosa'],
       [b'4.8', b'3.4', b'1.6', b'0.2', b'Iris-setosa'],
       [b'4.8', b'3.0', b'1.4', b'0.1', b'Iris-setosa'],
       [b'4.3', b'3.0', b'1.1', b'0.1', b'Iris-setosa'],
       [b'5.8', nan, b'1.2', b'0.2', b'Iris-setosa'],
       [b'5.7', b'4.4', b'1.5', b'0.4', b'Iris-setosa'],
       [b'5.4', b'3.9', b'1.3', b'0.4', b'Iris-setosa'],
       [b'5.1', b'3.5', b'1.4', b'0.3', b'Iris-setosa'],
       [b'5.7', b'3.8', b'1.7', b'0.3', b'Iris-setosa'],
       [b'5.1', b'3.8', b'1.5', b'0.3', b'Iris-setosa'],
       [b'5.4', b'3.4', b'1.7', b'0.2', b'Iris-setosa'],
       [b'5.1', b'3.7', b'1.5', b'0.4', b'Iris-setosa'],
       [b'4.6', b'3.6', b'1.0', b'0.2', b'Iris-setosa'],
       [b'5.1', b'3.3', b'1.7', b'0.5', b'Iris-setosa'],
       [b'4.8', b'3.4', b'1.9', nan, b'Iris-setosa'],
       [b'5.0', b'3.0', b'1.6', b'0.2', b'Iris-setosa'],
       [b'5.0', b'3.4', b'1.6', b'0.4', b'Iris-setosa'],
       [b'5.2', b'3.5', b'1.5', b'0.2', b'Iris-setosa'],
       [b'5.2', b'3.4', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.6', b'0.2', b'Iris-setosa'],
       [b'4.8', b'3.1', b'1.6', b'0.2', b'Iris-setosa'],
       [b'5.4', b'3.4', b'1.5', b'0.4', b'Iris-setosa'],
       [b'5.2', b'4.1', b'1.5', b'0.1', b'Iris-setosa'],
       [b'5.5', b'4.2', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', nan, b'1.5', b'0.1', b'Iris-setosa'],
       [b'5.0', b'3.2', b'1.2', b'0.2', b'Iris-setosa'],
       [b'5.5', b'3.5', b'1.3', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.1', b'1.5', b'0.1', b'Iris-setosa'],
       [b'4.4', b'3.0', b'1.3', b'0.2', b'Iris-setosa'],
       [b'5.1', b'3.4', b'1.5', b'0.2', b'Iris-setosa'],
       [b'5.0', b'3.5', b'1.3', b'0.3', b'Iris-setosa'],
       [b'4.5', b'2.3', b'1.3', b'0.3', b'Iris-setosa'],
       [b'4.4', b'3.2', b'1.3', b'0.2', b'Iris-setosa'],
       [b'5.0', b'3.5', b'1.6', b'0.6', b'Iris-setosa'],
       [b'5.1', b'3.8', b'1.9', b'0.4', b'Iris-setosa'],
       [b'4.8', b'3.0', b'1.4', b'0.3', b'Iris-setosa'],
       [b'5.1', b'3.8', b'1.6', b'0.2', b'Iris-setosa'],
       [b'4.6', b'3.2', b'1.4', b'0.2', b'Iris-setosa'],
       [b'5.3', b'3.7', b'1.5', b'0.2', b'Iris-setosa'],
       [b'5.0', b'3.3', b'1.4', b'0.2', b'Iris-setosa'],
       [b'7.0', b'3.2', b'4.7', b'1.4', b'Iris-versicolor'],
       [b'6.4', b'3.2', b'4.5', b'1.5', b'Iris-versicolor'],
       [b'6.9', b'3.1', b'4.9', b'1.5', b'Iris-versicolor'],
       [b'5.5', b'2.3', b'4.0', nan, b'Iris-versicolor'],
       [b'6.5', b'2.8', b'4.6', b'1.5', b'Iris-versicolor'],
       [b'5.7', b'2.8', b'4.5', b'1.3', b'Iris-versicolor'],
       [b'6.3', b'3.3', b'4.7', b'1.6', b'Iris-versicolor'],
       [b'4.9', b'2.4', b'3.3', b'1.0', b'Iris-versicolor'],
       [b'6.6', nan, b'4.6', b'1.3', b'Iris-versicolor'],
       [b'5.2', b'2.7', b'3.9', b'1.4', b'Iris-versicolor'],
       [b'5.0', nan, b'3.5', b'1.0', b'Iris-versicolor'],
       [b'5.9', b'3.0', b'4.2', b'1.5', b'Iris-versicolor'],
       [b'6.0', b'2.2', b'4.0', b'1.0', b'Iris-versicolor'],
       [b'6.1', b'2.9', b'4.7', b'1.4', b'Iris-versicolor'],
       [b'5.6', b'2.9', b'3.6', b'1.3', b'Iris-versicolor'],
       [b'6.7', b'3.1', b'4.4', b'1.4', b'Iris-versicolor'],
       [b'5.6', b'3.0', b'4.5', nan, b'Iris-versicolor'],
       [b'5.8', b'2.7', b'4.1', b'1.0', nan],
       [b'6.2', b'2.2', b'4.5', b'1.5', b'Iris-versicolor'],
       [b'5.6', b'2.5', b'3.9', b'1.1', b'Iris-versicolor'],
       [b'5.9', b'3.2', b'4.8', b'1.8', b'Iris-versicolor'],
       [b'6.1', b'2.8', b'4.0', b'1.3', b'Iris-versicolor'],
       [b'6.3', b'2.5', b'4.9', b'1.5', b'Iris-versicolor'],
       [b'6.1', b'2.8', b'4.7', b'1.2', b'Iris-versicolor'],
       [b'6.4', b'2.9', b'4.3', b'1.3', b'Iris-versicolor'],
       [b'6.6', b'3.0', b'4.4', b'1.4', b'Iris-versicolor'],
       [b'6.8', b'2.8', b'4.8', b'1.4', b'Iris-versicolor'],
       [b'6.7', b'3.0', b'5.0', b'1.7', b'Iris-versicolor'],
       [b'6.0', b'2.9', b'4.5', b'1.5', b'Iris-versicolor'],
       [b'5.7', b'2.6', b'3.5', nan, b'Iris-versicolor'],
       [b'5.5', b'2.4', b'3.8', b'1.1', b'Iris-versicolor'],
       [b'5.5', b'2.4', b'3.7', b'1.0', b'Iris-versicolor'],
       [b'5.8', b'2.7', b'3.9', b'1.2', b'Iris-versicolor'],
       [b'6.0', b'2.7', b'5.1', b'1.6', b'Iris-versicolor'],
       [b'5.4', b'3.0', b'4.5', b'1.5', b'Iris-versicolor'],
       [b'6.0', b'3.4', b'4.5', b'1.6', b'Iris-versicolor'],
       [b'6.7', b'3.1', b'4.7', b'1.5', b'Iris-versicolor'],
       [b'6.3', nan, b'4.4', b'1.3', b'Iris-versicolor'],
       [b'5.6', b'3.0', b'4.1', b'1.3', b'Iris-versicolor'],
       [b'5.5', b'2.5', b'4.0', b'1.3', b'Iris-versicolor'],
       [b'5.5', b'2.6', b'4.4', b'1.2', b'Iris-versicolor'],
       [b'6.1', b'3.0', b'4.6', b'1.4', b'Iris-versicolor'],
       [b'5.8', b'2.6', b'4.0', b'1.2', b'Iris-versicolor'],
       [b'5.0', b'2.3', b'3.3', b'1.0', b'Iris-versicolor'],
       [b'5.6', b'2.7', b'4.2', b'1.3', nan],
       [b'5.7', b'3.0', b'4.2', b'1.2', b'Iris-versicolor'],
       [b'5.7', b'2.9', b'4.2', b'1.3', b'Iris-versicolor'],
       [b'6.2', b'2.9', b'4.3', b'1.3', b'Iris-versicolor'],
       [b'5.1', b'2.5', b'3.0', nan, b'Iris-versicolor'],
       [b'5.7', b'2.8', b'4.1', b'1.3', b'Iris-versicolor'],
       [b'6.3', b'3.3', b'6.0', b'2.5', b'Iris-virginica'],
       [b'5.8', b'2.7', b'5.1', b'1.9', b'Iris-virginica'],
       [b'7.1', b'3.0', b'5.9', b'2.1', b'Iris-virginica'],
       [b'6.3', b'2.9', b'5.6', b'1.8', nan],
       [b'6.5', b'3.0', b'5.8', b'2.2', b'Iris-virginica'],
       [b'7.6', b'3.0', b'6.6', b'2.1', b'Iris-virginica'],
       [b'4.9', b'2.5', b'4.5', b'1.7', b'Iris-virginica'],
       [b'7.3', b'2.9', nan, b'1.8', b'Iris-virginica'],
       [b'6.7', b'2.5', b'5.8', b'1.8', b'Iris-virginica'],
       [b'7.2', b'3.6', b'6.1', b'2.5', b'Iris-virginica'],
       [b'6.5', b'3.2', b'5.1', b'2.0', b'Iris-virginica'],
       [b'6.4', b'2.7', b'5.3', b'1.9', b'Iris-virginica'],
       [b'6.8', b'3.0', b'5.5', b'2.1', b'Iris-virginica'],
       [b'5.7', b'2.5', b'5.0', b'2.0', b'Iris-virginica'],
       [b'5.8', b'2.8', b'5.1', b'2.4', b'Iris-virginica'],
       [b'6.4', b'3.2', b'5.3', b'2.3', b'Iris-virginica'],
       [b'6.5', b'3.0', b'5.5', b'1.8', b'Iris-virginica'],
       [b'7.7', b'3.8', b'6.7', b'2.2', b'Iris-virginica'],
       [b'7.7', b'2.6', b'6.9', b'2.3', b'Iris-virginica'],
       [b'6.0', b'2.2', b'5.0', b'1.5', b'Iris-virginica'],
       [b'6.9', b'3.2', b'5.7', b'2.3', b'Iris-virginica'],
       [b'5.6', b'2.8', b'4.9', b'2.0', b'Iris-virginica'],
       [b'7.7', b'2.8', b'6.7', b'2.0', b'Iris-virginica'],
       [b'6.3', b'2.7', b'4.9', b'1.8', b'Iris-virginica'],
       [b'6.7', b'3.3', b'5.7', b'2.1', b'Iris-virginica'],
       [b'7.2', b'3.2', b'6.0', b'1.8', b'Iris-virginica'],
       [b'6.2', b'2.8', b'4.8', b'1.8', b'Iris-virginica'],
       [b'6.1', b'3.0', b'4.9', b'1.8', b'Iris-virginica'],
       [b'6.4', b'2.8', b'5.6', b'2.1', b'Iris-virginica'],
       [b'7.2', b'3.0', b'5.8', b'1.6', b'Iris-virginica'],
       [b'7.4', b'2.8', b'6.1', b'1.9', b'Iris-virginica'],
       [b'7.9', b'3.8', b'6.4', b'2.0', b'Iris-virginica'],
       [b'6.4', b'2.8', b'5.6', b'2.2', b'Iris-virginica'],
       [b'6.3', b'2.8', b'5.1', b'1.5', b'Iris-virginica'],
       [b'6.1', b'2.6', b'5.6', b'1.4', b'Iris-virginica'],
       [b'7.7', b'3.0', b'6.1', b'2.3', b'Iris-virginica'],
       [b'6.3', b'3.4', b'5.6', b'2.4', b'Iris-virginica'],
       [b'6.4', b'3.1', nan, b'1.8', b'Iris-virginica'],
       [b'6.0', b'3.0', b'4.8', b'1.8', nan],
       [b'6.9', b'3.1', b'5.4', b'2.1', b'Iris-virginica'],
       [b'6.7', b'3.1', b'5.6', b'2.4', b'Iris-virginica'],
       [b'6.9', b'3.1', b'5.1', b'2.3', b'Iris-virginica'],
       [b'5.8', b'2.7', b'5.1', b'1.9', b'Iris-virginica'],
       [nan, b'3.2', b'5.9', b'2.3', b'Iris-virginica'],
       [b'6.7', b'3.3', b'5.7', nan, b'Iris-virginica'],
       [b'6.7', b'3.0', b'5.2', b'2.3', b'Iris-virginica'],
       [b'6.3', b'2.5', b'5.0', b'1.9', b'Iris-virginica'],
       [b'6.5', b'3.0', b'5.2', b'2.0', b'Iris-virginica'],
       [b'6.2', b'3.4', b'5.4', b'2.3', b'Iris-virginica'],
       [b'5.9', b'3.0', b'5.1', b'1.8', b'Iris-virginica']], dtype=object)

**Q21) Find the number and position of missing values in iris_2d's sepallength (1st column)**

In [45]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan

# Solution
print("Number of missing values: \n", np.isnan(iris_2d[:, 0]).sum())
print("Position of missing values: \n", np.where(np.isnan(iris_2d[:, 0])))

Number of missing values:
 6
Position of missing values:
 (array([ 0, 27, 30, 38, 68, 91]),)

**Q22) Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0**

In [48]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

# Solution
condition = (iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)
iris_2d[condition]

array([[4.8, 3.4, 1.6, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [4.9, 2.5, 4.5, 1.7]])

**Q23) Select the rows of iris_2d that does not have any nan value.**

In [52]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan

# Solution
iris_2d[np.sum(np.isnan(iris_2d), axis = 1) == 0][:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [53]:
no_nan_rows = np.array([~np.any(np.isnan(row)) for row in iris_2d])
iris_2d[no_nan_rows][:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

**Q24) Find the correlation between SepalLength(1st column) and PetalLength(3rd column) in iris_2d**

In [56]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

# Solution 1
np.corrcoef(iris[:, 0], iris[:, 2])[1,0]

0.8717541573048718

**Q25) What is the value of second longest petallength of species setosa?**

In [79]:
# Import iris keeping the text column intact
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
# Solution
petal_lengths_setosa = iris[iris[:, 4] == b'Iris-setosa', [2]].astype('float')
np.unique(np.sort(petal_lengths_setosa))[::-1][1]

1.7

In [80]:
petal_lengths_setosa.max()

1.9

## **Python Pandas Assignment**

In [81]:
import pandas as pd

### **Python COVID-19 Case Study**

Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease was first identified in 2019 in Wuhan, China, and has since spread globally, resulting in the 2019–20 coronavirus pandemic. Common symptoms include fever, cough and shortness of breath. Muscle pain, sputum production and sore throat are less common. The rate of deaths per number of diagnosed cases is on average 3.4%, ranging from 0.2% in those less than 20 to approximately 15% in those over 80 years old.

**Data Source (Date wise) :** 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE

**Data Source:** https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

**File naming convention**

MM-DD-YYYY.csv in UTC.

**Field description**

**Province/State:** China - province name; US/Canada/Australia/ - city name, state/province name; Others - name of the event (e.g., "Diamond Princess" cruise ship); other countries - blank.

**Country/Region:** country/region name conforming to WHO (will be updated).

**Last Update:** MM/DD/YYYY HH:mm (24 hour format, in UTC).

**Confirmed:** the number of confirmed cases. For Hubei Province: from Feb 13 (GMT +8), we report both clinically diagnosed and lab-confirmed cases. For lab-confirmed cases only (Before Feb 17), please refer to who_covid_19_situation_reports. For Italy, diagnosis standard might be changed since Feb 27 to "slow the growth of new case numbers." (Source)

**Deaths:** the number of deaths.

**Recovered:** the number of recovered cases.

**Update frequency**

Files after Feb 1 (UTC): once a day around 23:59 (UTC).

Files on and before Feb 1 (UTC): the last updated files before 23:59 (UTC).

Using above dataset we have created some exercises on COVID-19 (Spread of the novel coronavirus, Analysis, Visualization, Prediction & Comparisons

**Q26) Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.**

In [99]:
# Write your code here
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')
covid_data.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [100]:
covid_data['Last Update']=pd.to_datetime(covid_data['Last Update'])

In [101]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  154 non-null    object
 1   Country/Region  312 non-null    object
 2   Last Update     312 non-null    datetime64[ns]
 3   Confirmed       312 non-null    int64
 4   Deaths          312 non-null    int64
 5   Recovered       312 non-null    int64
 6   Latitude        309 non-null    float64
 7   Longitude       309 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 19.6+ KB

**Q27) Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.**

In [102]:
# Write your code here
covid_data.sort_values(['Last Update'],ascending=False).head(1)[['Confirmed','Deaths','Recovered']]

     Confirmed  Deaths  Recovered
186         11       0          0

In [104]:
covid_data.describe(include='all')

<ipython-input-104-08c552bc952a>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  covid_data.describe(include='all')

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
count,154,312,312,312.000000,312.000000,312.000000,309.000000,309.000000
unique,149,168,97,NaN,NaN,NaN,NaN,NaN
top,Unknown,US,2020-03-17 11:53:10,NaN,NaN,NaN,NaN,NaN
freq,4,56,44,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,2020-03-11 02:18:14,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-03-17 23:53:03,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,630.307692,25.939103,258.919872,24.974273,9.082552
std,NaN,NaN,NaN,4435.504351,234.292352,3190.819032,23.996188,84.230383
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,-71.949900,-175.198200
25%,NaN,NaN,NaN,2.000000,0.000000,0.000000,8.619500,-70.162700
50%,NaN,NaN,NaN,25.000000,0.000000,0.000000,31.825700,12.457800
75%,NaN,NaN,NaN,130.750000,1.000000,3.000000,42.315400,100.204800
max,NaN,NaN,NaN,67799.000000,3111.000000,56003.000000,71.706900,177.649300

In [97]:
covid_data['Active'] = covid_data['Confirmed'] - covid_data['Deaths'] - covid_data['Recovered']
covid_data_bycountry = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()
print(covid_data_bycountry)

                     Country/Region  Confirmed  Deaths  Recovered  Active
0                       Afghanistan         26       0          1      25
1                           Albania         55       1          0      54
2                           Algeria         60       4         12      44
3                           Andorra         39       0          1      38
4                        Antarctica          0       0          0       0
..                              ...        ...     ...        ...     ...
163                      Uzbekistan         10       0          0      10
164                       Venezuela         33       0          0      33
165                         Vietnam         66       0         16      50
166            Winter Olympics 2022          0       0          0       0
167  occupied Palestinian territory          0       0          0       0

[168 rows x 5 columns]

<ipython-input-97-43a7da3340a3>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = covid_data.groupby('Country/Region')['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

**Q28) Write a Python program to get the latest number of confirmed deaths and recovered people of Novel Coronavirus (COVID-19) cases Country/Region - Province/State wise.**

In [109]:
# Write your code here
data = covid_data.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].sum()
pd.set_option('display.max_rows', None)
print(data)

                                             Confirmed  Deaths  Recovered
Country/Region Province/State
Australia      Australian Capital Territory          2       0          0
               From Diamond Princess                 0       0          0
               New South Wales                     210       4          4
               Northern Territory                    1       0          0
               Queensland                           78       0          8
               South Australia                      29       0          3
               Tasmania                              7       0          0
               Victoria                             94       0          8
               Western Australia                    31       1          0
Canada         Alberta                              74       0          0
               British Columbia                    103       4          4
               Grand Princess                        8       0          0
               Manitoba                              8       0          0
               New Brunswick                         8       0          0
               Newfoundland and Labrador             3       0          0
               Nova Scotia                           7       0          0
               Ontario                             507       1          5
               Prince Edward Island                  1       0          0
               Quebec                              128       1          0
               Saskatchewan                          7       0          0
China          Anhui                               990       6        984
               Beijing                             456       8        369
               Chongqing                           576       6        570
               Fujian                              296       1        295
               Gansu                               133       2         91
               Guangdong                          1364       8       1307
               Guangxi                             253       2        248
               Guizhou                             147       2        144
               Hainan                              168       6        161
               Hebei                               318       6        310
               Heilongjiang                        482      13        456
               Henan                              1273      22       1250
               Hong Kong                           162       4         88
               Hubei                             67799    3111      56003
               Hunan                              1018       4       1014
               Inner Mongolia                       75       1         73
               Jiangsu                             631       0        631
               Jiangxi                             935       1        934
               Jilin                                93       1         92
               Liaoning                            125       1        120
               Macau                                12       0         10
               Ningxia                              75       0         75
               Qinghai                              18       0         18
               Shaanxi                             246       3        236
               Shandong                            761       7        746
               Shanghai                            358       3        325
               Shanxi                              133       0        133
               Sichuan                             540       3        520
               Tianjin                             136       3        133
               Tibet                                 1       0          1
               Unknown                               0       0          0
               Xinjiang                             76       3         73
               Yunnan                              176       2        172
               Zhejiang                           1232       1       1216
Cruise Ship    Diamond Princess                    696       7        325
Denmark        Denmark                             977       4          1
               Faroe Islands                        47       0          0
France         France                             7652     148         12
               French Guiana                         7       0          0
               French Polynesia                      3       0          0
               Guadeloupe                            6       0          0
               Mayotte                               1       0          0
               Reunion                               9       0          0
               Saint Barthelemy                      3       0          0
               St Martin                             2       0          0
Malaysia       Johor                                 0       0          0
               Kedah                                 0       0          0
               Kelantan                              0       0          0
               Melaka                                0       0          0
               Negeri Sembilan                       0       0          0
               Pahang                                0       0          0
               Perak                                 0       0          0
               Perlis                                0       0          0
               Pulau Pinang                          0       0          0
               Sabah                                 0       0          0
               Sarawak                               0       0          0
               Selangor                              0       0          0
               Terengganu                            0       0          0
               Unknown                               0       0          0
               W.P. Kuala Lumpur                     0       0          0
               W.P. Labuan                           0       0          0
               W.P. Putrajaya                        0       0          0
Netherlands    Curacao                               3       0          0
               Netherlands                        1705      43          2
New Zealand    Cook Islands                          0       0          0
               Niue                                  0       0          0
US             Alabama                              39       0          0
               Alaska                                3       0          0
               Arizona                              20       0          1
               Arkansas                             22       0          0
               California                          698      12          6
               Colorado                            160       2          0
               Connecticut                          68       0          0
               Delaware                             16       0          0
               Diamond Princess                     47       0          0
               District of Columbia                 22       0          0
               Florida                             216       6          0
               Georgia                             146       1          0
               Grand Princess                       21       0          0
               Guam                                  3       0          0
               Hawaii                               10       0          0
               Idaho                                 8       0          0
               Illinois                            161       1          2
               Indiana                              30       2          0
               Iowa                                 23       0          0
               Kansas                               18       1          0
               Kentucky                             26       1          1
               Louisiana                           196       4          0
               Maine                                32       0          0
               Maryland                             60       0          3
               Massachusetts                       218       0          1
               Michigan                             65       0          0
               Minnesota                            60       0          0
               Mississippi                          21       0          0
               Missouri                             11       0          0
               Montana                               9       0          0
               Nebraska                             21       0          0
               Nevada                               56       1          0
               New Hampshire                        26       0          0
               New Jersey                          267       3          1
               New Mexico                           23       0          0
               New York                           1706      13          0
               North Carolina                       64       0          0
               North Dakota                          3       0          0
               Ohio                                 67       0          0
               Oklahoma                             19       0          0
               Oregon                               66       1          0
               Pennsylvania                        112       0          0
               Puerto Rico                           5       0          0
               Rhode Island                         23       0          0
               South Carolina                       47       1          0
               South Dakota                         11       1          0
               Tennessee                            74       0          0
               Texas                               110       1          0
               Utah                                 51       0          0
               Vermont                              12       0          0
               Virgin Islands                        2       0          0
               Virginia                             67       2          0
               Washington                         1076      55          1
               West Virginia                         1       0          0
               Wisconsin                            72       0          1
               Wyoming                              11       0          0
Ukraine        Unknown                               0       0          0
United Kingdom Cayman Islands                        1       1          0
               Channel Islands                       0       0          0
               England                               0     198          0
               Gibraltar                             3       0          1
               Guernsey                              0       0          0
               Jersey                                0       0          0
               Northern Ireland                      0       0          0
               Pitcairn Islands                      0       0          0
               Scotland                              0      11          0
               Unknown                            1950       2         52
               Wales                                 0       5          0

<ipython-input-109-5d03957b3b83>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = covid_data.groupby(['Country/Region', 'Province/State'])['Confirmed', 'Deaths', 'Recovered'].sum()

**Q29) Write a Python program to get the Chinese province wise cases of confirmed, deaths and recovered cases of Novel Coronavirus (COVID-19).**

In [115]:
# Write your code here
covid_data_china=covid_data[covid_data['Country/Region']=='China']
covid_data_china

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17 11:53:10,67799,3111,56003,30.9756,112.2707
12,Guangdong,China,2020-03-17 01:53:03,1364,8,1307,23.3417,113.4244
14,Henan,China,2020-03-14 09:53:08,1273,22,1250,33.8820,113.6140
16,Zhejiang,China,2020-03-17 02:13:21,1232,1,1216,29.1832,120.0934
19,Hunan,China,2020-03-14 08:33:03,1018,4,1014,27.6104,111.7088
20,Anhui,China,2020-03-11 02:18:14,990,6,984,31.8257,117.2264
22,Jiangxi,China,2020-03-12 02:13:04,935,1,934,27.6140,115.7221
24,Shandong,China,2020-03-17 00:33:02,761,7,746,36.3427,118.1498
27,Jiangsu,China,2020-03-15 01:53:02,631,0,631,32.9711,119.4550
28,Chongqing,China,2020-03-15 03:53:04,576,6,570,30.0572,107.8740
29,Sichuan,China,2020-03-17 08:33:02,540,3,520,30.6171,102.7103
30,Heilongjiang,China,2020-03-17 01:33:02,482,13,456,47.8620,127.7615
31,Beijing,China,2020-03-17 10:53:03,456,8,369,40.1824,116.4142
36,Shanghai,China,2020-03-17 02:13:20,358,3,325,31.2020,121.4491
40,Hebei,China,2020-03-13 11:09:03,318,6,310,38.0428,114.5149
41,Fujian,China,2020-03-11 02:18:14,296,1,295,26.0789,117.9874
45,Guangxi,China,2020-03-17 00:33:02,253,2,248,23.8298,108.7881
46,Shaanxi,China,2020-03-17 10:53:03,246,3,236,35.1917,108.8701
63,Yunnan,China,2020-03-16 23:53:02,176,2,172,24.9740,101.4870
66,Hainan,China,2020-03-16 14:38:45,168,6,161,19.1959,109.7453
67,Hong Kong,China,2020-03-17 10:13:11,162,4,88,22.3000,114.2000
71,Guizhou,China,2020-03-17 07:33:03,147,2,144,26.8154,106.8748
75,Tianjin,China,2020-03-15 18:20:18,136,3,133,39.3054,117.3230
76,Gansu,China,2020-03-15 18:20:18,133,2,91,36.0611,103.8343
77,Shanxi,China,2020-03-13 11:09:03,133,0,133,37.5777,112.2922
79,Liaoning,China,2020-03-17 12:13:13,125,1,120,41.2956,122.6085
89,Jilin,China,2020-03-16 00:22:10,93,1,92,43.6661,126.1923
94,Xinjiang,China,2020-03-11 02:18:14,76,3,73,41.1129,85.2401
95,Inner Mongolia,China,2020-03-16 14:38:45,75,1,73,44.0935,113.9448
96,Ningxia,China,2020-03-16 14:38:45,75,0,75,37.2692,106.1655
170,Qinghai,China,2020-03-11 02:18:14,18,0,18,35.7452,95.9956
178,Macau,China,2020-03-17 04:32:18,12,0,10,22.1667,113.5500
246,Tibet,China,2020-03-11 02:18:14,1,0,1,31.6927,88.0924
275,Unknown,China,2020-03-17 11:53:10,0,0,0,NaN,NaN

In [113]:
len(covid_data_china)

34

34

**Q30) Write a Python program to get the latest country wise deaths cases of Novel Coronavirus (COVID-19).**

In [123]:
# Write your code here
covid_data.groupby('Country/Region').aggregate({'Deaths':'sum'}).sort_values(by='Deaths',ascending=False)

                                  Deaths
Country/Region
China                               3230
Italy                               2503
Iran                                 988
Spain                                533
United Kingdom                       217
France                               148
US                                   108
Korea, South                          81
Netherlands                           43
Switzerland                           40
Japan                                 29
Germany                               24
Philippines                           12
Iraq                                  11
Belgium                               10
San Marino                             9
Peru                                   9
Cruise Ship                            7
Sweden                                 7
Canada                                 6
Poland                                 5
Australia                              5
Greece                                 5
Indonesia                              5
Finland                                4
Algeria                                4
Egypt                                  4
Denmark                                4
India                                  3
Lebanon                                3
Austria                                3
Norway                                 3
Ecuador                                2
Ireland                                2
Morocco                                2
Argentina                              2
Bulgaria                               2
Ukraine                                2
Taiwan*                                1
Turkey                                 1
Iceland                                1
Hungary                                1
Guyana                                 1
Guatemala                              1
Azerbaijan                             1
Bahrain                                1
Martinique                             1
Portugal                               1
Panama                                 1
Brazil                                 1
Thailand                               1
Sudan                                  1
Luxembourg                             1
Dominican Republic                     1
Albania                                1
Slovenia                               1
Palau                                  0
Namibia                                0
Nauru                                  0
Nepal                                  0
Reunion                                0
North Macedonia                        0
Pakistan                               0
New Zealand                            0
Oman                                   0
Qatar                                  0
Puerto Rico                            0
Paraguay                               0
Nigeria                                0
Republic of the Congo                  0
Afghanistan                            0
Romania                                0
Tanzania                               0
Winter Olympics 2022                   0
Vietnam                                0
Venezuela                              0
Uzbekistan                             0
Uruguay                                0
United Arab Emirates                   0
Tuvalu                                 0
Tunisia                                0
Trinidad and Tobago                    0
Tonga                                  0
Togo                                   0
The Gambia                             0
The Bahamas                            0
Suriname                               0
Russia                                 0
Summer Olympics 2020                   0
Sri Lanka                              0
South Africa                           0
Somalia                                0
Slovakia                               0
Montenegro                             0
Seychelles                             0
Serbia                                 0
Senegal                                0
Saudi Arabia                           0
Saint Vincent and the Grenadines       0
Saint Lucia                            0
Rwanda                                 0
Singapore                              0
Kosovo                                 0
Mongolia                               0
Ethiopia                               0
Estonia                                0
Equatorial Guinea                      0
Czechia                                0
Cyprus                                 0
Cuba                                   0
Croatia                                0
Cote d'Ivoire                          0
Costa Rica                             0
Congo (Kinshasa)                       0
Congo (Brazzaville)                    0
Colombia                               0
Chile                                  0
Central African Republic               0
Cameroon                               0
Cambodia                               0
Burkina Faso                           0
Brunei                                 0
Bosnia and Herzegovina                 0
Bolivia                                0
Bhutan                                 0
Benin                                  0
Belarus                                0
Barbados                               0
Bangladesh                             0
Aruba                                  0
Armenia                                0
Antigua and Barbuda                    0
Antarctica                             0
Andorra                                0
Eswatini                               0
French Guiana                          0
Monaco                                 0
Gabon                                  0
Moldova                                0
Mexico                                 0
Mayotte                                0
Mauritania                             0
Malta                                  0
Maldives                               0
Malaysia                               0
Lithuania                              0
Liechtenstein                          0
Liberia                                0
Latvia                                 0
Kuwait                                 0
Korea, North                           0
Kiribati                               0
Kenya                                  0
Kazakhstan                             0
Jordan                                 0
Jersey                                 0
Jamaica                                0
Israel                                 0
Honduras                               0
Holy See                               0
Guinea                                 0
Guernsey                               0
Guam                                   0
Guadeloupe                             0
Greenland                              0
Ghana                                  0
Georgia                                0
occupied Palestinian territory         0

**Q31) Write a Python program to list countries with no cases of Novel Coronavirus (COVID-19) recovered.**

In [136]:
# Write your code here
countries_by_cases=covid_data.groupby('Country/Region').aggregate({'Recovered':'sum'}).sort_values(by='Recovered')
countries_by_cases[countries_by_cases['Recovered']==0]

                                  Recovered
Country/Region
occupied Palestinian territory            0
Iceland                                   0
Puerto Rico                               0
Honduras                                  0
Holy See                                  0
Guyana                                    0
Guinea                                    0
Guernsey                                  0
Guatemala                                 0
Guam                                      0
Guadeloupe                                0
Greenland                                 0
Republic of the Congo                     0
Ghana                                     0
Reunion                                   0
Rwanda                                    0
Gabon                                     0
French Guiana                             0
Saint Lucia                               0
Mayotte                                   0
Paraguay                                  0
Panama                                    0
Palau                                     0
Nigeria                                   0
Mauritania                                0
Martinique                                0
Monaco                                    0
Maldives                                  0
Malaysia                                  0
Luxembourg                                0
Mongolia                                  0
Liechtenstein                             0
Liberia                                   0
Ethiopia                                  0
Montenegro                                0
Kosovo                                    0
Winter Olympics 2022                      0
Korea, North                              0
Kiribati                                  0
Kenya                                     0
Kazakhstan                                0
Nauru                                     0
Jersey                                    0
New Zealand                               0
Namibia                                   0
Eswatini                                  0
Saint Vincent and the Grenadines          0
Equatorial Guinea                         0
Bulgaria                                  0
Brunei                                    0
Antarctica                                0
Antigua and Barbuda                       0
Tanzania                                  0
The Bahamas                               0
Uruguay                                   0
Bolivia                                   0
Burkina Faso                              0
Bhutan                                    0
The Gambia                                0
Togo                                      0
Barbados                                  0
Tonga                                     0
Trinidad and Tobago                       0
Tunisia                                   0
Ukraine                                   0
Turkey                                    0
Benin                                     0
Tuvalu                                    0
Uzbekistan                                0
Cameroon                                  0
Seychelles                                0
Ecuador                                   0
Dominican Republic                        0
Slovakia                                  0
Slovenia                                  0
Cyprus                                    0
Cuba                                      0
Somalia                                   0
Venezuela                                 0
South Africa                              0
Costa Rica                                0
Congo (Kinshasa)                          0
Congo (Brazzaville)                       0
Sudan                                     0
Summer Olympics 2020                      0
Chile                                     0
Central African Republic                  0
Suriname                                  0
Albania                                   0
Aruba                                     0

**Q32) Write a Python program to list countries with all cases of Novel Coronavirus (COVID-19) died.**

In [145]:
# Write your code here
covid_confirm_death=covid_data.groupby('Country/Region').aggregate({'Confirmed':'sum','Deaths':'sum'})
covid_confirm_death=covid_confirm_death[covid_confirm_death['Confirmed']>0]
covid_confirm_death[covid_confirm_death['Confirmed']==covid_confirm_death['Deaths']]

                Confirmed  Deaths
Country/Region
Sudan                   1       1

**Q33) Write a Python program to list countries with all cases of Novel Coronavirus (COVID-19) recovered.**

In [146]:
# Write your code here
covid_confirm_death=covid_data.groupby('Country/Region').aggregate({'Confirmed':'sum','Recovered':'sum'})
covid_confirm_death=covid_confirm_death[covid_confirm_death['Confirmed']>0]
covid_confirm_death[covid_confirm_death['Confirmed']==covid_confirm_death['Recovered']]

                Confirmed  Recovered
Country/Region
Nepal                   1          1

**Q34) Write a Python program to get the top 10 countries data (Last Update, Country/Region, Confirmed, Deaths, Recovered) of Novel Coronavirus (COVID-19).**

In [155]:
# Write your code here
covid_confirm_death=covid_data.groupby('Country/Region').aggregate({'Confirmed':'sum','Deaths':'sum','Last Update':'max','Recovered':'sum'})
covid_confirm_death.sort_values('Confirmed',ascending=False)[:10]

                Confirmed  Deaths         Last Update  Recovered
Country/Region
China               81058    3230 2020-03-17 12:13:13      68798
Italy               31506    2503 2020-03-17 18:33:02       2941
Iran                16169     988 2020-03-17 15:13:09       5389
Spain               11748     533 2020-03-17 20:53:02       1028
Germany              9257      24 2020-03-17 18:53:02         67
Korea, South         8320      81 2020-03-17 10:33:03       1407
France               7683     148 2020-03-17 19:13:08         12
US                   6421     108 2020-03-17 23:53:03         17
Switzerland          2700      40 2020-03-17 16:33:04          4
United Kingdom       1954     217 2020-03-17 15:13:09         53

In [153]:
result = covid_data.groupby('Country/Region').max().sort_values(by='Confirmed', ascending=False)[:10]
result

<ipython-input-153-68200c2b137b>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  result = covid_data.groupby('Country/Region').max().sort_values(by='Confirmed', ascending=False)[:10]

,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
Country/Region,,,,,,
China,2020-03-17 12:13:13,67799,3111,56003,47.8620,127.7615
Italy,2020-03-17 18:33:02,31506,2503,2941,41.8719,12.5674
Iran,2020-03-17 15:13:09,16169,988,5389,32.4279,53.6880
Spain,2020-03-17 20:53:02,11748,533,1028,40.4637,-3.7492
Germany,2020-03-17 18:53:02,9257,24,67,51.1657,10.4515
"Korea, South",2020-03-17 10:33:03,8320,81,1407,35.9078,127.7669
France,2020-03-17 19:13:08,7652,148,12,46.2276,55.2471
Switzerland,2020-03-17 16:33:04,2700,40,4,46.8182,8.2275
United Kingdom,2020-03-17 15:13:09,1950,198,52,56.4907,-1.1743
US,2020-03-17 23:53:03,1706,55,6,61.3707,144.7937

###**Python 'Diamond' Case Study**

**Diamonds:**

This classic dataset contains the prices and other attributes of almost 54,000 diamonds. It's a great dataset for beginners learning to work with data analysis and visualization.

![python pandas.JPG]()

In [ ]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

**Q35) Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and print the first 6 rows.**

In [ ]:
# Write your code here

**Q36) Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.**

In [ ]:
# Write your code here

**Q37) Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.**

In [ ]:
# Write your code here

**Q38) Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.**

In [ ]:
# Write your code here

**Q39) Write a Pandas program to find the diamonds that are with a Fair or Good or Premium.**

In [ ]:
# Write your code here

**Q40) Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.**

In [ ]:
# Write your code here

**Q41) Write a Pandas program to display percentages of each value of cut series occurs in diamonds DataFrame.**

In [ ]:
# Write your code here

**Q42) Write a Pandas program to count the number of unique values in cut series of diamonds DataFrame.**

In [ ]:
# Write your code here

**Q43) Write a Pandas program to check the number of rows and columns and drop those row if 'any' values are missing in a row of diamonds DataFrame.**

In [ ]:
# Write your code here

**Q44) Write a Pandas program to set an existing column as the index of diamonds DataFrame and restore the index name, and move the index back to a column.**

In [ ]:
# Write your code here

**Q45) Write a Pandas program to calculate the multiply of length, width and depth for each cut of diamonds DataFrame.**

In [ ]:
# Write your code here

**Q46) Write a Pandas program to concatenate the diamonds DataFrame with the 'color' Series.**

In [ ]:
# Write your code here

**Q47) Write a Pandas program to read rows in which the ‘cut’ is ‘Premium’, column ‘color’ of diamonds DataFrame.**

In [ ]:
# Write your code here

**Q48) Write a Pandas program to calculate the memory usage for each Series (in bytes) of diamonds DataFrame.**

In [ ]:
# Write your code here

**Q49) Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.**

In [ ]:
# Write your code here

**Q50) Write a Pandas program to read the diamonds DataFrame and detect duplicate color.**

**Note:** duplicated () function returns boolean Series denoting duplicate rows, optionally only considering certain columns.

In [ ]:
# Write your code here