<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.DataFrame.from_dict({
    'Name': ['Jane', 'Nik', 'Kate', 'Melissa', 'Evan', 'Doug', 'Joe'],
    'Age': [10, 35, 34, 23, 70, 55, 89],
    'Height': [130, 178, 155, 133, 195, 150, 205],
    'Weight': [80, 200, 220, 150, 140, 95, 180]
}).set_index('Name')

In [ ]:
import pandas as pd
df = pd.DataFrame.from_dict({
    'Name': ['Jane', 'Nik', 'Kate', 'Melissa', 'Evan', 'Doug', 'Joe'],
    'Age': [10, 35, 34, 23, 70, 55, 89]
}).set_index('Name')

df = df.reset_index(drop=True)

In [ ]:
df.index

Index(['Jane', 'Nik', 'Kate', 'Melissa', 'Evan', 'Doug', 'Joe'], dtype='object', name='Name')

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

   Age  Height  Weight
0   10     130      80
1   35     178     200
2   34     155     220
3   23     133     150
4   70     195     140
5   55     150      95
6   89     205     180

In [ ]:
import pandas as pd

df = pd.DataFrame.from_dict({
    'Name': ['Jane', 'Nik', 'Kate', 'Melissa', 'Evan', 'Doug', 'Joe'],
    'Age': [10, 35, 34, 23, 70, 55, 89],
    'Height': [130, 178, 155, 133, 195, 150, 205],
    'Weight': [80, 200, 220, 150, 140, 95, 180]
}).set_index('Name')

In [ ]:
df.index

Index(['Jane', 'Nik', 'Kate', 'Melissa', 'Evan', 'Doug', 'Joe'], dtype='object', name='Name')

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

   Age  Height  Weight
0   10     130      80
1   35     178     200
2   34     155     220
3   23     133     150
4   70     195     140
5   55     150      95
6   89     205     180

In [ ]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
df

      Name  Age  Height  Weight
0     Jane   10     130      80
1      Nik   35     178     200
2     Kate   34     155     220
3  Melissa   23     133     150
4     Evan   70     195     140
5     Doug   55     150      95
6      Joe   89     205     180

In [ ]:
df.reset_index(drop=True)

      Name  Age  Height  Weight
0     Jane   10     130      80
1      Nik   35     178     200
2     Kate   34     155     220
3  Melissa   23     133     150
4     Evan   70     195     140
5     Doug   55     150      95
6      Joe   89     205     180

In [ ]:
# Creating a MultiIndex DataFrame
import pandas as pd
df = pd.DataFrame.from_dict({
    'Gender': ['Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male'],
    'Name': ['Jane', 'Kate', 'Melissa', 'Nik', 'Evan', 'Doug', 'Joe'],
    'Age': [10, 35, 34, 23, 70, 55, 89],
    'Height': [130, 178, 155, 133, 195, 150, 205],
    'Weight': [80, 200, 220, 150, 140, 95, 180]
}).set_index(['Gender', 'Name'])

print(df.head())

# Returns:
#                 Age  Height  Weight
# Name    Gender                     
# Jane    Female   10     130      80
# Nik     Male     35     178     200
# Kate    Female   34     155     220
# Melissa Female   23     133     150
# Evan    Male     70     195     140

                Age  Height  Weight
Gender Name
Female Jane      10     130      80
       Kate      35     178     200
       Melissa   34     155     220
Male   Nik       23     133     150
       Evan      70     195     140

In [ ]:
df = df.reset_index(level='Gender')

In [ ]:
df.index

Index(['Jane', 'Kate', 'Melissa', 'Nik', 'Evan', 'Doug', 'Joe'], dtype='object', name='Name')