<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/my%20code%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
def fun(x,y):
  b=[]
  for i in range(x,y+1):
    a=[]
    for x in range(1,i+1):
      if i%x==0:
        a.append(x)
    if len(a)>2:
      b.append(i)
  return b

In [30]:
fun(52,61)

[52, 54, 55, 56, 57, 58, 60]

In [31]:
fun(2,10)

[4, 6, 8, 9, 10]

In [13]:
def fun(s):
  d={}
  a=list(set(list(s)))
  x=len(a)
  for i in a:
    d[i]=0
  for i in list(s):
     d[i]=d[i]+1
  return d,x

In [14]:
fun('deepak')

({'k': 1, 'd': 1, 'e': 2, 'p': 1, 'a': 1}, 5)

In [21]:
a= [8,8,8,5,5,4,2,1,3,7,5]
b=[]
d={}
for i in a:
  if i in d.keys():
    pass
  else:
    d[i]=0
for i in a:
  d[i]=d[i]+1
print(d)
maximum=max(list(d.values()))
for i in d.keys():
  if d[i]==maximum:
    b.append(i)

print(b)

{8: 3, 5: 3, 4: 1, 2: 1, 1: 1, 3: 1, 7: 1}
[8, 5]

In [ ]:
df.Age[~df['Name'].isin(['xyz','mnu'])]=22

In [1]:
37.21>37.2

True

In [2]:
b=[]
for _ in range(2):
    name = input()
    score = float(input())
    a=[name,score]
    b.append(a)

'1'
2
'3
4

In [3]:
print(b)

[["'1'", 2.0], ["'3", 4.0]]

In [4]:
dict(b)

{"'1'": 2.0, "'3": 4.0}

In [24]:
a=[1,2,3]
print(a.sort(reverse=True))
print(a[:2])

None
[3, 2]

In [9]:
min([1,1,1,5,6])

1

In [10]:
37.21==37.21

True

In [20]:
    z=[]
    a=[]
    c=[]
    b=[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
    d=dict(b)
    mark=list(d.values())
    min_mark=min(mark)
    x=0
    for i in mark:
        if i==min_mark:
            x=x+1
    if x>1:
        for i in list(d.keys()):
            if d[i]==min_mark:
                a.append(i)
        print(a.sort())
    else:
        x=0
        mark.remove(min_mark)
        s_min_mark=min(mark)
        for i in list(d.keys()):
            if d[i]==s_min_mark:
                a.append(i)
        for i in mark:
            if i==s_min_mark:
                x=x+1
            if x>1:
                for i in list(d.keys()):
                    if d[i]==min_mark:
                        c.append(i)
                c.sort()
            else:
                for i in list(d.keys()):
                    if d[i]==min_mark:
                        c.append(i)
    z.append(a[0])
    z.append(c[0])
    print(z)

['Harry', 'Tina']

In [21]:
min_mark

37.2

In [22]:
mark

[37.21, 37.21, 41, 39]

In [31]:
    b=[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
    a=[]
    c=[]
    d=dict(b)
    mark=list(d.values())
    min_mark=min(mark)
    
    
    x=0
    mark.remove(min_mark)
    s_min_mark=min(mark)
    for i in list(d.keys()):
        if d[i]==s_min_mark:
            a.append(i)
    for i in mark:
        if i==s_min_mark:
            x=x+1
    if x>1:
        for i in list(d.keys()):
            if d[i]==s_min_mark:
                c.append(i)
        c.sort()
    else:
        for i in list(d.keys()):
            if d[i]==min_mark:
                c.append(i)
    for i in c:
        print(i)

Berry
Harry

In [27]:
if __name__ == '__main__':
    z=[]
    b=[]
    a=[]
    c=[]
    for _ in range(int(input())):
        name = input()
        score = float(input())
        a=[name,score]
        b.append(a)
    d=dict(b)
    mark=list(d.values())
    min_mark=min(mark)
    
    
    x=0
    new_mark=[i for i in mark if i!=min_mark]
    s_min_mark=min(new_mark)
    for i in list(d.keys()):
        if d[i]==s_min_mark:
            a.append(i)
    for i in new_mark:
        if i==s_min_mark:
            x=x+1
    if x>1:
        for i in list(d.keys()):
            if d[i]==s_min_mark:
                c.append(i)
                c.sort()
    else:
        for i in list(d.keys()):
            if d[i]==s_min_mark:
                c.append(i)
    if len(c)>2:
        for i in c[:2]:
            print(i)
    else:
        for i in c:
            print(i)

37.21