<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/pATTERNS_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=[1,2,3,4,5]
b=[]

In [5]:
b.append(a[2:4])

In [7]:
b.append(a[2])

In [8]:
b

[[3, 4], 3]

In [48]:
l=eval(input())
x=[]
i=0
z=i
while i<len(l)-2:
  z=i
  y=0
  if l[i]==l[i+1]:
      
    while l[i]==l[i+1]:
      
      i=i+1
      y=y+1
      
      
      
    x.append(l[z:z+y+1])
    z=i
  

  else:
    if l[i+1]==l[i+2]:
      
      i=i+1
      z=i
      pass
    
    else:
      x.append([l[i+1]])
      i=i+1
      z=i

x.append(l[len(l)-1])  
print(x)

[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9]
0
5
8
8
[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], 9]

In [49]:
l=eval(input())
from itertools import groupby
def pack_consecutive_duplicates(l_nums):
    return [list(group) for key, group in groupby(l_nums)]
  
print(pack_consecutive_duplicates(l))

[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4 ]
[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [52]:
l=[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4 ]
result=[]
for key, group in groupby(l):
  result.append(list(group))
  print(key)
result

0
1
2
3
4
5
6
7
8
9
4

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [55]:
num=8
for i in range(num):
  print(('*').join([str(i) for i in range(1,num+1-i)]))

1*2*3*4*5*6*7*8
1*2*3*4*5*6*7
1*2*3*4*5*6
1*2*3*4*5
1*2*3*4
1*2*3
1*2
1

In [60]:
for i in range(1,6):
  
  print('*'*i,end='')
  print('')

*
**
***
****
*****

In [62]:
n=int(input())
s=['0','1','2','3','4','5','6','7','8','9']
for i in range(n):
  if i==0:
    print(1)
  elif i==1:
    print(11)
  else:
    print(s[i]+s[0]*(i-1)+s[i])

8
1
11
202
3003
40004
500005
6000006
70000007

In [63]:
n=int(input())
s=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
i=0
while i <n:
  z=i
  
  for x in range(n):
    
    print(s[z],end='')
    z=z+1
  print('')
  i=i+1

5
ABCDE
BCDEF
CDEFG
DEFGH
EFGHI

In [70]:
n=int(input())
for i in range(n):
  print(str((n-i))*(n-i))

4
4444
333
22
1

In [77]:
n=input()
for i in range(7):
  if i==0 or i ==int(n)-1:
    print(n*int(n))
  else:
    print(n+' '*(int(n)-2)+n)

7
7777777
7     7
7     7
7     7
7     7
7     7
7777777

In [86]:
n=int(input())
for i in range(1,n+1):
  print(' '*(n-i),end='')
  for x in range(i,0,-1):
    print(str(x),end='')
  print('')

4
   1
  21
 321
4321

In [87]:
n =int(input())
for i in range(0,n):
  print((n-i-1)*' '+'*'*(i+1))
for i in range(int(n+1),2*n):
  print(' '*(i-n)+'*'*(2*n-i))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [88]:
n=int(input())
a=n
z=''
for i in range(1,n+1):
  z=''
  y=i
  b=n-i+1
  print(' '*(n-b),end='')
  while b>0:
    y=y.__str__()
      
    
    print(y,end='')
    z=z+y
    y=int(y)
    y=y+1
    b=b-1
  print('')

for i in range(n+1,2*n):
  y=n
  c=i-n
  d=2*n-i-1
  print(' '*(d),end='')
  y=y-c
  while c>0:
    
    print(y.__str__(),end='')
    y=int(y)
    y=y+1
    c=c-1
  print(n.__str__(),end='')
  print('')

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

In [99]:
n=int(input())
for i in range(1,n+1):
  print(' '*(i-1),end='')
  for i in range(i,n+1):
    
    print(str(i),end='')
  print('')
for i in range(n-1,0,-1):
  print(' '*(i-1),end='')
  for i in range(i,n+1):
    print(str(i),end='')
  print('')

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

In [100]:
n = int(input())
x=1
for i in range(n):
  a=n
  
  if x==1:
    
    x=str(x)
    print(x*(n-i))
    x=int(x)
    x=x-1
  else:
    x=str(x)
    print(x*(n-i-1))
    x=int(x)
    x=x+1

5
11111
000
111
0
1