<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/Spark_create_DataFRAME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=1c00f575f03f46eb09da5fc373c45b203682c6d16eb44f0c075dd20f3c64642f
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from a list of dictionaries

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    Create a DataFrame from an RDD.

    >>> rdd = spark.sparkContext.parallelize([('Alice', 1)])
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from Row instances.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    Create  a DataFrame from an RDD with the schema in DDL formatted string.

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]

    When the type is unmatched, it throws an exception.

    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

In [ ]:
ages_list=[21,23,18,22,25]

In [ ]:
type(ages_list)

list

In [ ]:
spark.createDataFrame(ages_list)

TypeError: ignored

In [ ]:
spark.createDataFrame(ages_list,'int')

DataFrame[value: int]

In [ ]:
from pyspark.sql.types import IntegerType

In [ ]:
spark.createDataFrame(ages_list,IntegerType()).show()

+-----+
|value|
+-----+
|   21|
|   23|
|   18|
|   22|
|   25|
+-----+

In [ ]:
names_list=['deepak','prashant','puneet']

In [ ]:
spark.createDataFrame(names_list,"string")

DataFrame[value: string]

In [ ]:
from pyspark.sql.types import StringType

In [ ]:
spark.createDataFrame(names_list,StringType())

DataFrame[value: string]

In [ ]:
age_list=[(21,),(18,),(23,),(41,)]

In [ ]:
spark.createDataFrame(age_list)

DataFrame[_1: bigint]

In [ ]:
spark.createDataFrame(age_list).show()

+---+
| _1|
+---+
| 21|
| 18|
| 23|
| 41|
+---+

In [ ]:
spark.createDataFrame(age_list,"age int")

DataFrame[age: int]

In [ ]:
users_list=[(1,'deepak'),(2,'prashant'),(3,'puneet'),(4,'piyush')]

In [ ]:
spark.createDataFrame(users_list,"user_id int,user_name string")

DataFrame[user_id: int, user_name: string]

In [ ]:
spark.createDataFrame(users_list,"user_id int,user_name string").show()

+-------+---------+
|user_id|user_name|
+-------+---------+
|      1|   deepak|
|      2| prashant|
|      3|   puneet|
|      4|   piyush|
+-------+---------+

In [ ]:
df=spark.createDataFrame(users_list,"user_id int,user_name string")

In [ ]:
df.show()

+-------+---------+
|user_id|user_name|
+-------+---------+
|      1|   deepak|
|      2| prashant|
|      3|   puneet|
|      4|   piyush|
+-------+---------+

In [ ]:
df.collect()

[Row(user_id=1, user_name='deepak'),
 Row(user_id=2, user_name='prashant'),
 Row(user_id=3, user_name='puneet'),
 Row(user_id=4, user_name='piyush')]

In [ ]:
df.collect()[0]

Row(user_id=1, user_name='deepak')

In [ ]:
type(df.collect())

list

In [ ]:
from pyspark.sql import Row

In [ ]:
help(Row)

Help on class Row in module pyspark.sql.types:

class Row(builtins.tuple)
 |  Row(*args: Optional[str], **kwargs: Optional[Any]) -> 'Row'
 |
 |  A row in :class:`DataFrame`.
 |  The fields in it can be accessed:
 |
 |  * like attributes (``row.key``)
 |  * like dictionary values (``row[key]``)
 |
 |  ``key in row`` will search through row keys.
 |
 |  Row can be used to create a row object by using named arguments.
 |  It is not allowed to omit a named argument to represent that the value is
 |  None or missing. This should be explicitly set to None in this case.
 |
 |  .. versionchanged:: 3.0.0
 |      Rows created from named arguments no longer have
 |      field names sorted alphabetically and will be ordered in the position as
 |      entered.
 |
 |  Examples
 |  --------
 |  >>> from pyspark.sql import Row
 |  >>> row = Row(name="Alice", age=11)
 |  >>> row
 |  Row(name='Alice', age=11)
 |  >>> row['name'], row['age']
 |  ('Alice', 11)
 |  >>> row.name, row.age
 |  ('Alice', 11)
 |  >>> 'name' in row
 |  True
 |  >>> 'wrong_key' in row
 |  False
 |
 |  Row also can be used to create another Row like class, then it
 |  could be used to create Row objects, such as
 |
 |  >>> Person = Row("name", "age")
 |  >>> Person
 |  <Row('name', 'age')>
 |  >>> 'name' in Person
 |  True
 |  >>> 'wrong_key' in Person
 |  False
 |  >>> Person("Alice", 11)
 |  Row(name='Alice', age=11)
 |
 |  This form can also be used to create rows as tuple values, i.e. with unnamed
 |  fields.
 |
 |  >>> row1 = Row("Alice", 11)
 |  >>> row2 = Row(name="Alice", age=11)
 |  >>> row1 == row2
 |  True
 |
 |  Method resolution order:
 |      Row
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __call__(self, *args: Any) -> 'Row'
 |      create new Row object
 |
 |  __contains__(self, item: Any) -> bool
 |      Return key in self.
 |
 |  __getattr__(self, item: str) -> Any
 |
 |  __getitem__(self, item: Any) -> Any
 |      Return self[key].
 |
 |  __reduce__(self) -> Union[str, Tuple[Any, ...]]
 |      Returns a tuple so Python knows how to pickle Row.
 |
 |  __repr__(self) -> str
 |      Printable representation of Row used in Python REPL.
 |
 |  __setattr__(self, key: Any, value: Any) -> None
 |      Implement setattr(self, name, value).
 |
 |  asDict(self, recursive: bool = False) -> Dict[str, Any]
 |      Return as a dict
 |
 |      Parameters
 |      ----------
 |      recursive : bool, optional
 |          turns the nested Rows to dict (default: False).
 |
 |      Notes
 |      -----
 |      If a row contains duplicate field names, e.g., the rows of a join
 |      between two :class:`DataFrame` that both have the fields of same names,
 |      one of the duplicate fields will be selected by ``asDict``. ``__getitem__``
 |      will also return one of the duplicate fields, however returned value might
 |      be different to ``asDict``.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> Row(name="Alice", age=11).asDict() == {'name': 'Alice', 'age': 11}
 |      True
 |      >>> row = Row(key=1, value=Row(name='a', age=2))
 |      >>> row.asDict() == {'key': 1, 'value': Row(name='a', age=2)}
 |      True
 |      >>> row.asDict(True) == {'key': 1, 'value': {'name': 'a', 'age': 2}}
 |      True
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(cls, *args: Optional[str], **kwargs: Optional[Any]) -> 'Row'
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

In [ ]:
row=Row("Alice",11)

In [ ]:
row

In [ ]:
row2=Row(name="Alice",age=11)

In [ ]:
row2

Row(name='Alice', age=11)

In [ ]:
row2.name

'Alice'

In [ ]:
users_list=[[1,'deepak'],[2,'prashant'],[3,'puneet'],[4,'piyush']]

In [ ]:
spark.createDataFrame(users_list)

DataFrame[_1: bigint, _2: string]

In [ ]:
spark.createDataFrame(users_list,"id int,name string")

DataFrame[id: int, name: string]

In [ ]:
df_list=spark.createDataFrame(users_list,"id int,name string")

In [ ]:
x=list(map(Row,*users_list))

In [ ]:
x

In [ ]:
x[1]

In [ ]:
list(map(str,list(range(1,10))))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
users_row=[Row(*user) for user in users_list]

In [ ]:
users_row

[<Row(1, 'deepak')>,
 <Row(2, 'prashant')>,
 <Row(3, 'puneet')>,
 <Row(4, 'piyush')>]

In [ ]:
spark.createDataFrame(users_row)

DataFrame[_1: bigint, _2: string]

In [ ]:
spark.createDataFrame(users_row,"id int,name string")

DataFrame[id: int, name: string]

In [ ]:
def fun(*arg):
  print(arg)
  print(len(arg))

In [ ]:
fun(1)

(1,)
1

In [ ]:
fun(1,'deepak')

(1, 'deepak')
2

In [ ]:
fun(*[1,'deepak'])

(1, 'deepak')
2

In [ ]:
dic_list=[{'id':1,"name":'deepak'},{'id':2,"name":'prashant'},{'id':3,"name":'puneet'},{'id':4,"name":'piyush'},]

In [ ]:
spark.createDataFrame(dic_list)

DataFrame[id: bigint, name: string]

In [ ]:
spark.createDataFrame(dic_list).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  deepak|
|  2|prashant|
|  3|  puneet|
|  4|  piyush|
+---+--------+

In [ ]:
Row(*dic_list[1].values())

In [ ]:
users_dic_rows=[Row(*user.values()) for user in dic_list ]

In [ ]:
users_dic_rows

[<Row(1, 'deepak')>,
 <Row(2, 'prashant')>,
 <Row(3, 'puneet')>,
 <Row(4, 'piyush')>]

In [ ]:
spark.createDataFrame(users_dic_rows,"id int,name string")

DataFrame[id: int, name: string]

In [ ]:
spark.createDataFrame(users_dic_rows,"id int,name string").show()

+---+--------+
| id|    name|
+---+--------+
|  1|  deepak|
|  2|prashant|
|  3|  puneet|
|  4|  piyush|
+---+--------+

In [ ]:
[Row(**user) for user in dic_list ]

[Row(id=1, name='deepak'),
 Row(id=2, name='prashant'),
 Row(id=3, name='puneet'),
 Row(id=4, name='piyush')]

In [ ]:
spark.createDataFrame([Row(**user) for user in dic_list ])

DataFrame[id: bigint, name: string]

In [ ]:
spark.createDataFrame([Row(**user) for user in dic_list ]).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  deepak|
|  2|prashant|
|  3|  puneet|
|  4|  piyush|
+---+--------+

In [ ]:
def fun(**x):
  print(x)
  print(len(x))

In [ ]:
fun(id=1,name='deepak')

{'id': 1, 'name': 'deepak'}
2

In [ ]:
fun(**{'id':1,'name':'deepak'})

{'id': 1, 'name': 'deepak'}
2

In [ ]:
fun(1,'deepak')

TypeError: ignored

In [1]:
df=[{'id':1,"name":'deepak','course':['Mechanical','Machine learning']},
    {'id':2,"name":'prashant','course':['CS']}]

In [12]:
dic_new=spark.createDataFrame(df)

In [13]:
dic_new.printSchema()

root
 |-- course: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [15]:
from pyspark.sql.functions import explode

In [18]:
dic_new.withColumn('courses',explode('course')).drop('course').show()

+---+--------+----------------+
| id|    name|         courses|
+---+--------+----------------+
|  1|  deepak|      Mechanical|
|  1|  deepak|Machine learning|
|  2|prashant|              CS|
+---+--------+----------------+

In [17]:
dic_new.show()

+--------------------+---+--------+
|              course| id|    name|
+--------------------+---+--------+
|[Mechanical, Mach...|  1|  deepak|
|                [CS]|  2|prashant|
+--------------------+---+--------+

In [19]:
from pyspark.sql.functions import col

In [20]:
dic_new.select('id',col('course')[0].alias('first_subj'),col('course')[1].alias('sec_subj')).show()

+---+----------+----------------+
| id|first_subj|        sec_subj|
+---+----------+----------------+
|  1|Mechanical|Machine learning|
|  2|        CS|            null|
+---+----------+----------------+

In [22]:
df_=[{'id':1,"name":'deepak','course':{'first':'Mechanical','second':'Machine learning'}},
    {'id':2,"name":'prashant','course':{'first':'CS','second':'Mechanical'}}]

In [27]:
map_df=spark.createDataFrame(df_)

In [25]:
spark.createDataFrame(df_).show(truncate=False)

+-------------------------------------------------+---+--------+
|course                                           |id |name    |
+-------------------------------------------------+---+--------+
|{first -> Mechanical, second -> Machine learning}|1  |deepak  |
|{first -> CS, second -> Mechanical}              |2  |prashant|
+-------------------------------------------------+---+--------+

In [29]:
map_df.printSchema()

root
 |-- course: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [32]:
map_df.select('id',col('course')['first'].alias('first_course'),col('course')['second'].alias('sec_course')).show()

+---+------------+----------------+
| id|first_course|      sec_course|
+---+------------+----------------+
|  1|  Mechanical|Machine learning|
|  2|          CS|      Mechanical|
+---+------------+----------------+

In [33]:
map_df.select('id',explode('course')).show()

+---+------+----------------+
| id|   key|           value|
+---+------+----------------+
|  1| first|      Mechanical|
|  1|second|Machine learning|
|  2| first|              CS|
|  2|second|      Mechanical|
+---+------+----------------+

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [35]:
df=spark.read.csv('/content/drive/MyDrive/csv files/appl_stock.csv',inferSchema=True,header=True)

In [36]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [37]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [42]:
print((df.count(), len(df.columns)))

(1762, 7)

In [43]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [44]:
df.select(['Open','High']).show()

+------------------+------------------+
|              Open|              High|
+------------------+------------------+
|        213.429998|        214.499996|
|        214.599998|        215.589994|
|        214.379993|            215.23|
|            211.75|        212.000006|
|        210.299994|        212.000006|
|212.79999700000002|        213.000002|
|209.18999499999998|209.76999500000002|
|        207.870005|210.92999500000002|
|210.11000299999998|210.45999700000002|
|210.92999500000002|211.59999700000003|
|        208.330002|215.18999900000003|
|        214.910006|        215.549994|
|        212.079994|213.30999599999998|
|206.78000600000001|        207.499996|
|202.51000200000001|        204.699999|
|205.95000100000001|        213.710005|
|        206.849995|            210.58|
|        204.930004|        205.500004|
|        201.079996|        202.199995|
|192.36999699999998|             196.0|
+------------------+------------------+
only showing top 20 rows

In [48]:
df.alias('u').select('u.*').show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [68]:
df.selectExpr('Open','Open*2').show()

+------------------+------------------+
|              Open|        (Open * 2)|
+------------------+------------------+
|        213.429998|        426.859996|
|        214.599998|        429.199996|
|        214.379993|        428.759986|
|            211.75|             423.5|
|        210.299994|        420.599988|
|212.79999700000002|425.59999400000004|
|209.18999499999998|418.37998999999996|
|        207.870005|         415.74001|
|210.11000299999998|420.22000599999996|
|210.92999500000002|421.85999000000004|
|        208.330002|        416.660004|
|        214.910006|        429.820012|
|        212.079994|        424.159988|
|206.78000600000001|413.56001200000003|
|202.51000200000001|405.02000400000003|
|205.95000100000001|411.90000200000003|
|        206.849995|         413.69999|
|        204.930004|        409.860008|
|        201.079996|        402.159992|
|192.36999699999998|384.73999399999997|
+------------------+------------------+
only showing top 20 rows

In [49]:
from pyspark.sql.functions import col,concat,lit

In [50]:
l=[['deepak','dubey'],['prashant','dubey'],['puneet','pandey']]

In [53]:
conc_df=spark.createDataFrame(l,'first_name string,second_name string')

In [66]:
conc_df.select('first_name','second_name',concat(col('first_name'),lit(', '),col('second_name')).alias('full name')).show()

+----------+-----------+---------------+
|first_name|second_name|      full name|
+----------+-----------+---------------+
|    deepak|      dubey|  deepak, dubey|
|  prashant|      dubey|prashant, dubey|
|    puneet|     pandey| puneet, pandey|
+----------+-----------+---------------+

In [71]:
conc_df.selectExpr('first_name','second_name',"concat(first_name, ', ' ,second_name) AS x",'first_name||first_name').show()

+----------+-----------+---------------+------------------------------+
|first_name|second_name|              x|concat(first_name, first_name)|
+----------+-----------+---------------+------------------------------+
|    deepak|      dubey|  deepak, dubey|                  deepakdeepak|
|  prashant|      dubey|prashant, dubey|              prashantprashant|
|    puneet|     pandey| puneet, pandey|                  puneetpuneet|
+----------+-----------+---------------+------------------------------+

In [72]:
conc_df.createOrReplaceTempView('conc')

In [75]:
spark.sql("""
SELECT 'first_name','second_name',"concat(first_name, ', ' ,second_name) AS x",'first_name||first_name'
FROM conc
""").show(truncate=False)

+----------+-----------+------------------------------------------+----------------------+
|first_name|second_name|concat(first_name, ', ' ,second_name) AS x|first_name||first_name|
+----------+-----------+------------------------------------------+----------------------+
|first_name|second_name|concat(first_name, ', ' ,second_name) AS x|first_name||first_name|
|first_name|second_name|concat(first_name, ', ' ,second_name) AS x|first_name||first_name|
|first_name|second_name|concat(first_name, ', ' ,second_name) AS x|first_name||first_name|
+----------+-----------+------------------------------------------+----------------------+