<a href="https://colab.research.google.com/github/dkd99/my-code-practice/blob/main/SQL_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT match_id,innings_no,COUNT(DISTINCT over_id ) as extra_overs FROM extra_runs GROUP BY match_id,innings_no

Distinct overs which gave extra runs/are not maiden:

In [ ]:
SELECT COUNT(*) FROM (SELECT DISTINCT match_id,innings_no, over_id from extra_runs) AS a ;

Total number of overs bowled:

In [ ]:
SELECT COUNT(*) FROM (SELECT DISTINCT match_id,innings_no, over_id from ball_by_ball) AS A

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs)
SELECT a.* FROM ball_by_ball as a left join x on a.match_id=x.match_id and a.innings_no=x.innings_no and a.over_id=x.over_id

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs)
SELECT * FROM Ball_by_Ball as a where EXISTS (SELECT * FROM x where a.match_id!=x.match_id and a.innings_no!=x.innings_no and a.over_id!=x.over_id)
LIMIT 300

Total Number of overs with no extras:

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs)
SELECT COUNT(*) FROM (SELECT DISTINCT match_id,innings_no, over_id FROM (

SELECT * FROM Ball_by_Ball as a where NOT EXISTS (SELECT * FROM x where a.match_id=x.match_id and a.innings_no=x.innings_no and a.over_id=x.over_id))
as a) as b

Overs and balls left after removing overs that had extra runs:

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs)
SELECT * FROM Ball_by_Ball as a where NOT EXISTS 
(SELECT * FROM x where a.match_id=x.match_id and a.innings_no=x.innings_no and a.over_id=x.over_id) LIMIT 500

Count of distinct match_id's or number of matches played:

In [ ]:
SELECT COUNT(DISTINCT match_id) FROM (
SELECT match_id,innings_no,COUNT(DISTINCT over_id) as overs FROM ball_by_ball group by match_id,innings_no) as a

Number of innings in each match id's:

In [ ]:
SELECT match_id,COUNT(*) FROM (
SELECT match_id,innings_no,COUNT(DISTINCT over_id) as overs FROM ball_by_ball group by match_id,innings_no) as a group by match_id

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs), y as 
(SELECT * FROM Ball_by_Ball as a where NOT EXISTS 
(SELECT * FROM x where a.match_id=x.match_id and a.innings_no=x.innings_no and a.over_id=x.over_id))

SELECT y.match_id,y.over_id,y.ball_id,y.innings_no,,a.runs_scored,y. FROM batsman_scored as a right join y on a.match_id=y.match_id
and a.over_id=y.over_id and a.ball_id=y.ball_id and a.innings_no=y.innings_no

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs), y as 
(SELECT * FROM Ball_by_Ball as a where NOT EXISTS 
(SELECT * FROM x where a.match_id=x.match_id and a.innings_no=x.innings_no and a.over_id=x.over_id))
SELECT match_id,over_id,COUNT(ball_id) as bowls,innings_no,SUM(runs_scored) as runs,bowler from(
SELECT y.match_id,y.over_id,y.ball_id,y.innings_no,a.runs_scored,y.bowler FROM batsman_scored as a right join y on a.match_id=y.match_id
and a.over_id=y.over_id and a.ball_id=y.ball_id and a.innings_no=y.innings_no) as a group by match_id,over_id,innings_no,bowler having 
SUM(runs_scored)=0

In [ ]:
with x as (SELECT DISTINCT match_id,innings_no, over_id from extra_runs), y as 
(SELECT * FROM Ball_by_Ball as a where NOT EXISTS (
SELECT * FROM x where a.match_id=x.match_id and a.innings_no=x.innings_no and a.over_id=x.over_id)),z as
(SELECT match_id,over_id,COUNT(ball_id) as bowls,innings_no,SUM(runs_scored) as runs,bowler from(
SELECT y.match_id,y.over_id,y.ball_id,y.innings_no,a.runs_scored,y.bowler FROM batsman_scored as a right join y on a.match_id=y.match_id
and a.over_id=y.over_id and a.ball_id=y.ball_id and a.innings_no=y.innings_no) as a group by match_id,over_id,innings_no,bowler having 
SUM(runs_scored)=0)
SELECT player_name,COUNT(*) as maidens_over_bowled from (SELECT z.*,c.player_name from player as c right join z on z.bowler=c.player_id) as d
group by player_name order by 2 desc

In [ ]:
with x as (
  SELECT 
    DISTINCT match_id, 
    innings_no, 
    over_id 
  from 
    extra_runs
), 
y as (
  SELECT 
    * 
  FROM 
    Ball_by_Ball as a 
  where 
    NOT EXISTS (
      SELECT 
        * 
      FROM 
        x 
      where 
        a.match_id = x.match_id 
        and a.innings_no = x.innings_no 
        and a.over_id = x.over_id
    )
), 
z as (
  SELECT 
    match_id, 
    over_id, 
    COUNT(ball_id) as bowls, 
    innings_no, 
    SUM(runs_scored) as runs, 
    bowler 
  from 
    (
      SELECT 
        y.match_id, 
        y.over_id, 
        y.ball_id, 
        y.innings_no, 
        a.runs_scored, 
        y.bowler 
      FROM 
        batsman_scored as a 
        right join y on a.match_id = y.match_id 
        and a.over_id = y.over_id 
        and a.ball_id = y.ball_id 
        and a.innings_no = y.innings_no
    ) as a 
  group by 
    match_id, 
    over_id, 
    innings_no, 
    bowler 
  having 
    SUM(runs_scored)= 0
) 
SELECT 
  player_name, 
  COUNT(*) as maidens_over_bowled 
from 
  (
    SELECT 
      z.*, 
      c.player_name 
    from 
      player as c 
      right join z on z.bowler = c.player_id
  ) as d 
group by 
  player_name 
order by 
  2 desc,1

In [ ]:
SELECT * FROM ball_by_ball order by match_id,innings_no,over_id,ball_id LIMIT 500

Number of times players got out:

In [ ]:
With player_out_count as (SELECT player_out,COUNT(*) as no_of_outs FROM wicket_taken group by player_out order by 2 desc )
SELECT a.player_out,b.player_name,a.no_of_outs from player_out_count as a left join Player b on a.player_out=b.player_id
order by 3 desc

Number of balls played and matches played by batsman-

In [ ]:
With batsman_detail as (SELECT striker,COUNT(*) as number_of_balls_played,COUNT(DISTINCT match_id) as no_of_match_played FROM ball_by_ball
group by striker order by 3 desc,2 desc)
SELECT  a.*,b.player_name from batsman_detail as a left join player b on a.striker=b.player_id

In [ ]:
SELECT a.striker,s.number_of_balls_played,a.no_of_match_played,COALESCE(a.player_name,b.player_name) from named_detail as a outer join
named_playerout_count as b on a.striker=

In [ ]:
With batsman_detail as (SELECT striker,COUNT(*) as number_of_balls_played,COUNT(DISTINCT match_id) as no_of_match_played FROM ball_by_ball
group by striker order by 3 desc,2 desc),named_detail as (
SELECT  a.*,b.player_name from batsman_detail as a left join player b on a.striker=b.player_id),
player_out_count as (SELECT player_out,COUNT(*) as no_of_outs FROM wicket_taken group by player_out order by 2 desc ),
named_playerout_count as(SELECT a.player_out,b.player_name,a.no_of_outs from player_out_count as a left join Player b on a.player_out=b.player_id
order by 3 desc)
SELECT a.striker,COALESCE(a.number_of_balls_played,0) number_of_balls_played ,COALESCE(a.no_of_match_played,0) no_of_match_played
,COALESCE(b.no_of_outs,0) no_of_outs,COALESCE(a.player_name,b.player_name) as player_name
from named_detail as a full outer join
named_playerout_count as b on a.striker=b.player_out

In [ ]:
With batsman_detail as (
  SELECT 
    striker, 
    COUNT(*) as number_of_balls_played, 
    COUNT(DISTINCT match_id) as no_of_match_played 
  FROM 
    ball_by_ball 
  group by 
    striker 
  order by 
    3 desc, 
    2 desc
), 
named_detail as (
  SELECT 
    a.*, 
    b.player_name 
  from 
    batsman_detail as a 
    left join player b on a.striker = b.player_id
), 
player_out_count as (
  SELECT 
    player_out, 
    COUNT(*) as no_of_outs 
  FROM 
    wicket_taken 
  group by 
    player_out 
  order by 
    2 desc
), 
named_playerout_count as(
  SELECT 
    a.player_out, 
    b.player_name, 
    a.no_of_outs 
  from 
    player_out_count as a 
    left join Player b on a.player_out = b.player_id 
  order by 
    3 desc
) 
SELECT 
  a.striker, 
  COALESCE(a.number_of_balls_played, 0) number_of_balls_played, 
  COALESCE(a.no_of_match_played, 0) no_of_match_played, 
  COALESCE(b.no_of_outs, 0) no_of_outs, 
  COALESCE(a.player_name, b.player_name) as player_name 
from 
  named_detail as a full 
  outer join named_playerout_count as b on a.striker = b.player_out

In [ ]:
with runs_table as (SELECT a.*,b.striker,c.player_name FROM batsman_scored a left join 
ball_by_ball b on a.match_id=b.match_id and a.over_id=b.over_id and a.ball_id=b.ball_id
and a.innings_no=b.innings_no left join player as c on b.striker=c.player_id)
SELECT player_name,striker,SUM(runs_scored) as total_runs from runs_table group by striker order by 3 desc

In [ ]:
With batsman_detail as (
  SELECT 
    striker, 
    COUNT(*) as number_of_balls_played, 
    COUNT(DISTINCT match_id) as no_of_match_played 
  FROM 
    ball_by_ball 
  group by 
    striker 
  order by 
    3 desc, 
    2 desc
), 
named_detail as (
  SELECT 
    a.*, 
    b.player_name 
  from 
    batsman_detail as a 
    left join player b on a.striker = b.player_id
), 
player_out_count as (
  SELECT 
    player_out, 
    COUNT(*) as no_of_outs 
  FROM 
    wicket_taken 
  group by 
    player_out 
  order by 
    2 desc
), 
named_playerout_count as(
  SELECT 
    a.player_out, 
    b.player_name, 
    a.no_of_outs 
  from 
    player_out_count as a 
    left join Player b on a.player_out = b.player_id 
  order by 
    3 desc
), 
runs_table as (
  SELECT 
    a.*, 
    b.striker, 
    c.player_name 
  FROM 
    batsman_scored a 
    left join ball_by_ball b on a.match_id = b.match_id 
    and a.over_id = b.over_id 
    and a.ball_id = b.ball_id 
    and a.innings_no = b.innings_no 
    left join player as c on b.striker = c.player_id
), 
named_runs_scored as (
  SELECT 
    player_name, 
    striker, 
    SUM(runs_scored) as total_runs 
  from 
    runs_table 
  group by 
    striker 
  order by 
    3 desc
) 
SELECT 
  a.striker, 
  COALESCE(a.number_of_balls_played, 0) number_of_balls_played, 
  c.total_runs, 
  COALESCE(a.no_of_match_played, 0) no_of_match_played, 
  COALESCE(b.no_of_outs, 0) no_of_outs, 
  COALESCE(a.player_name, b.player_name) as player_name 
from 
  named_detail as a full 
  outer join named_playerout_count as b on a.striker = b.player_out full 
  outer join named_runs_scored c on a.striker = c.striker 
order by 
  total_runs desc

In [ ]:
With batsman_detail as (SELECT striker,COUNT(*) as number_of_balls_played,COUNT(DISTINCT match_id) as no_of_match_played FROM ball_by_ball
group by striker order by 3 desc,2 desc),named_detail as (
SELECT  a.*,b.player_name from batsman_detail as a left join player b on a.striker=b.player_id),
player_out_count as (SELECT player_out,COUNT(*) as no_of_outs FROM wicket_taken group by player_out order by 2 desc ),
named_playerout_count as(SELECT a.player_out,b.player_name,a.no_of_outs from player_out_count as a left join Player b on a.player_out=b.player_id
order by 3 desc),
runs_table as (SELECT a.*,b.striker,c.player_name FROM batsman_scored a left join 
ball_by_ball b on a.match_id=b.match_id and a.over_id=b.over_id and a.ball_id=b.ball_id
and a.innings_no=b.innings_no left join player as c on b.striker=c.player_id),
named_runs_scored as (SELECT player_name,striker,SUM(runs_scored) as total_runs from runs_table group by striker order by 3 desc)
SELECT a.striker,COALESCE(a.number_of_balls_played,0) number_of_balls_played ,c.total_runs,COALESCE(a.no_of_match_played,0) no_of_match_played
,COALESCE(b.no_of_outs,0) no_of_outs,COALESCE(a.player_name,b.player_name) as player_name
from named_detail as a full outer join
named_playerout_count as b on a.striker=b.player_out full outer join named_runs_scored c on a.striker=c.striker order by total_runs desc

In [ ]:
With batsman_detail as (
  SELECT 
    striker, 
    COUNT(*) as number_of_balls_played, 
    COUNT(DISTINCT match_id) as no_of_match_played 
  FROM 
    ball_by_ball 
  group by 
    striker 
  order by 
    3 desc, 
    2 desc
), 
named_detail as (
  SELECT 
    a.*, 
    b.player_name 
  from 
    batsman_detail as a 
    left join player b on a.striker = b.player_id
), 
player_out_count as (
  SELECT 
    player_out, 
    COUNT(*) as no_of_outs 
  FROM 
    wicket_taken 
  group by 
    player_out 
  order by 
    2 desc
), 
named_playerout_count as(
  SELECT 
    a.player_out, 
    b.player_name, 
    a.no_of_outs 
  from 
    player_out_count as a 
    left join Player b on a.player_out = b.player_id 
  order by 
    3 desc
), 
runs_table as (
  SELECT 
    a.*, 
    b.striker, 
    c.player_name 
  FROM 
    batsman_scored a 
    left join ball_by_ball b on a.match_id = b.match_id 
    and a.over_id = b.over_id 
    and a.ball_id = b.ball_id 
    and a.innings_no = b.innings_no 
    left join player as c on b.striker = c.player_id
), 
named_runs_scored as (
  SELECT 
    player_name, 
    striker, 
    SUM(runs_scored) as total_runs 
  from 
    runs_table 
  group by 
    striker 
  order by 
    3 desc
) 
SELECT 
  a.striker, 
  COALESCE(a.number_of_balls_played, 0) number_of_balls_played, 
  c.total_runs, 
  COALESCE(a.no_of_match_played, 0) no_of_match_played, 
  COALESCE(b.no_of_outs, 0) no_of_outs, 
  COALESCE(a.player_name, b.player_name) as player_name 
from 
  named_detail as a full 
  outer join named_playerout_count as b on a.striker = b.player_out full 
  outer join named_runs_scored c on a.striker = c.striker 
order by 
  total_runs desc

In [ ]:
With batsman_detail as (
  SELECT 
    striker, 
    COUNT(*) as number_of_balls_played, 
    COUNT(DISTINCT match_id) as no_of_match_played 
  FROM 
    ball_by_ball 
  group by 
    striker 
  order by 
    3 desc, 
    2 desc
), 
named_detail as (
  SELECT 
    a.*, 
    b.player_name 
  from 
    batsman_detail as a 
    left join player b on a.striker = b.player_id
), 
player_out_count as (
  SELECT 
    player_out, 
    COUNT(*) as no_of_outs 
  FROM 
    wicket_taken 
  group by 
    player_out 
  
), 
named_playerout_count as(
  SELECT 
    a.player_out, 
    b.player_name, 
    a.no_of_outs 
  from 
    player_out_count as a 
    left join Player b on a.player_out = b.player_id 
  
), 
runs_table as (
  SELECT 
    a.*, 
    b.striker, 
    c.player_name 
  FROM 
    batsman_scored a 
    left join ball_by_ball b on a.match_id = b.match_id 
    and a.over_id = b.over_id 
    and a.ball_id = b.ball_id 
    and a.innings_no = b.innings_no 
    left join player as c on b.striker = c.player_id
), 
named_runs_scored as (
  SELECT 
    player_name, 
    striker, 
    SUM(runs_scored) as total_runs 
  from 
    runs_table 
  group by 
    striker 
  
) ,
final_score_table as (SELECT 
  a.striker, 
  COALESCE(a.number_of_balls_played, 0) number_of_balls_played, 
  c.total_runs, 
  COALESCE(a.no_of_match_played, 0) no_of_match_played, 
  COALESCE(b.no_of_outs, 0) no_of_outs, 
  COALESCE(a.player_name, b.player_name) as player_name 
from 
  named_detail as a full 
  outer join named_playerout_count as b on a.striker = b.player_out full 
  outer join named_runs_scored c on a.striker = c.striker 
order by 
  total_runs desc)

SELECT * ,ROUND(((total_runs)/(number_of_balls_played))*100,2) as strike_rate,ROUND(total_runs/no_of_outs,2) as avg FROM final_score_table

Optimized Query:

In [ ]:
  With batsman_detail as(SELECT 
    striker, 
    COUNT(*) as number_of_balls_played, 
    COUNT(DISTINCT match_id) as no_of_match_played 
  FROM 
    ball_by_ball 
  group by 
    striker )
, 
player_out_count as (
  SELECT 
    player_out, 
    COUNT(*) as no_of_outs 
  FROM 
    wicket_taken 
  group by 
    player_out 
  order by 
    2 desc)
, 
runs_table as (
  SELECT 
    a.*, 
    b.striker
  FROM 
    batsman_scored a 
    left join ball_by_ball b on a.match_id = b.match_id 
    and a.over_id = b.over_id 
    and a.ball_id = b.ball_id 
    and a.innings_no = b.innings_no ),
    runs_scored as (
  SELECT 
    striker, 
    SUM(runs_scored) as total_runs 
  from 
    runs_table 
  group by 
    striker 
),
final_score_table as (
SELECT 
  COALESCE(a.striker, b.player_out) as player_id,
  COALESCE(a.number_of_balls_played, 0) number_of_balls_played, 
  COALESCE(c.total_runs,0) as total_runs, 
  COALESCE(a.no_of_match_played, 0) no_of_match_played, 
  COALESCE(b.no_of_outs, 0) no_of_outs
   
from 
  batsman_detail as a full 
  outer join player_out_count as b on a.striker = b.player_out full 
  outer join runs_scored c on a.striker = c.striker 
order by 
  total_runs desc), named_final_score_table as
(SELECT b.player_name,a.* FROM final_score_table as a left join player b on a.player_id=b.player_id )
SELECT * ,ROUND(((total_runs)/(number_of_balls_played))*100,2) as strike_rate,ROUND(total_runs/no_of_outs,2) as avg FROM named_final_score_table
order by total_runs desc

In [ ]:
SELECT *,total_runs-(SELECT SUM(total_runs)/SUM(number_of_balls_played) as x from final_scorecard)*number_of_balls_played as runs_above_average 
from final_scorecard

In [ ]:
SELECT SUM(no_of_outs)/sum(number_of_balls_played) from final_scorecard

In [ ]:
SELECT sum(total_runs)/SUM(no_of_outs) from final_scorecard

In [ ]:
SELECT sum(total_runs)/SUM(no_of_outs) as overall_average from final_scorecard

In [ ]:
SELECT (SELECT sum(total_runs)/SUM(no_of_outs) as overall_average from final_scorecard)*(
number_of_balls_played*(SELECT SUM(no_of_outs)/sum(number_of_balls_played) from final_scorecard)-(no_of_outs/number_of_balls_played))
from final_scorecard

In [ ]:
SELECT player_name,runs_above_average+part_2 as RAA,number_of_balls_played,total_runs,no_of_match_played,no_of_outs,strike_rate,avg from
final_stats_table L order by RAA desc

Final Batsman ranking as per RAA:

In [ ]:
With batsman_detail as(
  SELECT 
    striker, 
    COUNT(*) as number_of_balls_played, 
    COUNT(DISTINCT match_id) as no_of_match_played 
  FROM 
    ball_by_ball 
  group by 
    striker
), 
player_out_count as (
  SELECT 
    player_out, 
    COUNT(*) as no_of_outs 
  FROM 
    wicket_taken 
  group by 
    player_out 
  order by 
    2 desc
), 
runs_table as (
  SELECT 
    a.*, 
    b.striker 
  FROM 
    batsman_scored a 
    left join ball_by_ball b on a.match_id = b.match_id 
    and a.over_id = b.over_id 
    and a.ball_id = b.ball_id 
    and a.innings_no = b.innings_no
), 
runs_scored as (
  SELECT 
    striker, 
    SUM(runs_scored) as total_runs 
  from 
    runs_table 
  group by 
    striker
), 
final_score_table as (
  SELECT 
    COALESCE(a.striker, b.player_out) as player_id, 
    COALESCE(a.number_of_balls_played, 0) number_of_balls_played, 
    COALESCE(c.total_runs, 0) as total_runs, 
    COALESCE(a.no_of_match_played, 0) no_of_match_played, 
    COALESCE(b.no_of_outs, 0) no_of_outs 
  from 
    batsman_detail as a full 
    outer join player_out_count as b on a.striker = b.player_out full 
    outer join runs_scored c on a.striker = c.striker 
  order by 
    total_runs desc
), 
named_final_score_table as (
  SELECT 
    b.player_name, 
    a.* 
  FROM 
    final_score_table as a 
    left join player b on a.player_id = b.player_id
), 
final_scorecard as (
  SELECT 
    *, 
    ROUND(
      (
        (total_runs)/(number_of_balls_played)
      )* 100, 
      2
    ) as strike_rate, 
    ROUND(total_runs / no_of_outs, 2) as avg 
  FROM 
    named_final_score_table 
  order by 
    total_runs desc
), 
final_stats_table as (
  SELECT 
    *, 
    total_runs -(
      SELECT 
        SUM(total_runs)/ SUM(number_of_balls_played) as x 
      from 
        final_scorecard
    )* number_of_balls_played as runs_above_average, 
    COALESCE(
      (
        SELECT 
          sum(total_runs)/ SUM(no_of_outs) as overall_average 
        from 
          final_scorecard
      )*(
        number_of_balls_played *(
          (
            SELECT 
              SUM(no_of_outs)/ sum(number_of_balls_played) 
            from 
              final_scorecard
          )-(
            no_of_outs / number_of_balls_played
          )
        )
      ), 
      0
    ) AS part_2 
  from 
    final_scorecard 
  where 
    player_name != 'A Nel'
) 
SELECT 
  player_name, 
  runs_above_average + part_2 as RAA, 
  number_of_balls_played, 
  total_runs, 
  no_of_match_played, 
  no_of_outs, 
  strike_rate, 
  avg 
from 
  final_stats_table L 
order by 
  RAA desc